/* Section Colors */
.fp-viewing-header,
.fp-viewing-footer { background-color: #f5f5f5 !important; }
.fp-viewing-01 { background-color: #cbe8fc !important; }
.fp-viewing-02 { background-color: #cbe8fc !important; }

/* Dark Sections  */
.fp-viewing-03 { background-color: #333 !important; }
.fp-viewing-03 .navbar-brand svg path.cls-1 { fill: #fff; }
.fp-viewing-03 .nav-button #nav-icon span { background: #fff; }
.fp-viewing-03 h4 { color: #ddd; }
.fp-viewing-03 h2 { color: #fff; }
.fp-viewing-03 p { color: #ddd; }
.fp-viewing-03 a,
.fp-viewing-03 a:hover { color: #fff; }
.fp-viewing-03 .btn:hover { background-color: #fff; color: #333; }
.fp-viewing-03 .btn svg path { fill: #fff; }
.fp-viewing-03 .btn:hover svg path { fill: #333; }
