@charset "UTF-8";
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none !important; }

/* -------- ANIMSITION -------- */
.loadingAnimation { z-index: 999999; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.loadingAnimation svg { animation: leaves 2s infinite alternate ease-in-out;  }
.animsition.fade-in, .animsition.fade-out { padding: 0; margin: 0; overflow: hidden; height: 100vh; width: 100%; }




/* -------- GENERAL -------- */
body { font-family: "Neue Haas Grotesk", "Helvetica Neue", sans-serif; background-color: #FFF; font-size: 16px; color: #333333; font-weight: 400; text-rendering: optimizeLegibility; transition: background-color 1s ease-out; }
body.nav-open { overflow: hidden !important; }

a,
a:hover,
a:focus,
a:active,
a.active { color: #333; outline: 0; text-decoration: none; outline: none; }
a:hover { color: #333; }
a[role="button"], button { cursor: pointer; }
a { font-weight: 500; }

h1, h2, h3, h4, h5, h6 { color: #333; font-weight: 600; line-height: 1.2; margin-bottom: 0.6em; letter-spacing: -0.03em; }
h1 { font-size: 64px; }
h2 { font-size: 4vh; }
h3 { font-size: 28px; }
h4 { font-size: 18px; }

.light, .lead { font-weight: 300; }
.lead, #header h1 { font-size: 3.2vh; }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semibold, strong { font-weight: 600; }
.bold { font-weight: 700; }
.big, big { font-size: 1.25em; }
.small, small { font-size: 0.85em; }
.uppercase { text-transform: uppercase; letter-spacing: 0.05em; }
.text-muted { opacity: 0.6; }
.sep { opacity: 0.75; margin: auto 0.25em; }
.list-inline-item:not(:last-child) { margin-right: 18px; }
dt { font-weight: 400; }

hr { margin: 40px 0; }
.text-center hr, hr.hr-center { margin: 40px auto; }
hr.hr-mini { width: 30px; border-width: 3px; border-color: #aaa; }




/* ---------- NAVIGATION ---------- */
/* Navbar */
.navbar { background: #fff; height: auto; padding-top: 0; padding-bottom: 0; top: 30px; animation: fade-down 1s; }
.navbar-toggler { padding: 0; }
.navbar-brand { z-index:1111; }

/* Menu Fullscreen */
.main-menu { width: 100%; height: 0vh; opacity: 0; background: #fff; transition: all 0.4s ease-in-out; overflow: hidden !important; }
.nav-open .main-menu { opacity: 1; height: 100vh; background: #ccc; }
.main-menu .nav li a { color: #333; font-size: 7vh; font-weight: 600; letter-spacing: -0.03em; display: inline-block;}
.main-menu .nav li { opacity: 0; transform: translateY(-40px); transition-timing-function: cubic-bezier(.45,.005,0,1); display: block !important;}
.nav-open .main-menu .nav li { opacity: 1; transform: translateY(0); transition: transform 0.5s, opacity 0.5s; }
.main-menu .nav li.delay-1 { transition-delay: 0.4s; }
.main-menu .nav li.delay-2 { transition-delay: 0.5s; }
.main-menu .nav li.delay-3 { transition-delay: 0.6s; }
.main-menu .nav li.delay-4 { transition-delay: 0.7s; }

.nav-button { position: relative; z-index: 1111; border: none; display: block; padding: 6px; }
.nav-button #nav-icon { width: 24px; height: 20px; display: inline-block; position: relative; transform: rotate(0deg); transition: 0.5s ease-in-out; cursor: pointer; }
.nav-button #nav-icon span { display: block; position: absolute; height: 3px; width: 100%; background: #333; border-radius: 9px; opacity: 1; left: 0; transform: rotate(0deg); transition:.25s ease-in-out; }
.nav-open .nav-button #nav-icon span { background: #333 !important; }
.nav-button #nav-icon span:nth-child(1) { top: 0; }
.nav-button #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) { top: 7px; }
.nav-button #nav-icon span:nth-child(4) { top: 14px; }
.nav-open #nav-icon span:nth-child(1) { top: 9px; width: 0; left: 50%; }
.nav-open #nav-icon span:nth-child(2) { transform:rotate(45deg); }
.nav-open #nav-icon span:nth-child(3) { transform:rotate(-45deg); }
.nav-open #nav-icon span:nth-child(4) { top: 9px; width:0; left:50%; }

.flex-center { display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100vh; }

#footer-links { width: 100%; z-index: 3; bottom: -100px; padding-top: 6px; padding-bottom: 6px; transition: bottom ease 1s; z-index:1111; }
#footer-links, #footer-links a { color: #333 !important; }
.fp-viewing-footer #footer-links,
.nav-open #footer-links { bottom: 30px; }
#footer-links ul { margin: 0; font-size: 16px; }
#footer-links .list-inline-item { margin-right: 40px; }
#footer-links .list-inline-item:last-child { margin-right: 0; }

#description { position: fixed; z-index:1111; transform: rotate(-90deg); transform-origin: bottom left; left: -100px; bottom: 0; width: 100vh; text-align: center; line-height: 1; font-size: 16px; animation: fade-right 1s; transition: left ease 1s; }
.fp-viewing-header #description,
.fp-viewing-footer #description,
.nav-open #description { left: 52px; color: #333 !important; }

#social { position: fixed; z-index:1111; transform: rotate(90deg); transform-origin: right bottom; right: -100px; bottom: 0; width: 100vh; text-align: center; line-height: 1; transition: right ease 1s; }
.fp-viewing-header #social,
.fp-viewing-footer #social,
.nav-open #social { right: 52px; }

	/* Social Icons Effect */
	#social .list-inline { padding: 0; margin: 0; display: flex; align-items: center; justify-content: center; font-size: 16px; }
	#social .list-inline-item { padding: 0; margin: 0; margin-right: 30px; position: relative; text-align: center; min-width: 28px; min-height: 1px; display: inline-block; }
	#social .list-inline-item:last-child { margin-right: 0; }
	#social .list-inline-item a { padding: 5px; margin: 0; transform: translate(0%,-50%); transform-origin: center center; position: absolute; top: 0; left: 0; }
	#social .list-inline-item a:hover { transform: rotate(-90deg) translate(50%,0%); }
	#social .list-inline-item a .svg { margin-left: 1px; width: 21px; height: auto; }
	#social .list-inline-item a .svg,
	#social .list-inline-item a:hover span { opacity: 0; display: none; }
	#social .list-inline-item a span,
	#social .list-inline-item a:hover .svg { opacity: 1; display: inline; color: #333; }




/* ----------- HOME PAGE ----------- */
main { min-height: 100vh; }
main p, main ul, mail ol, main dl { margin-bottom: 1em; }
h4.home {
	color: #333;
	font-family: 'Poppins', sans-serif;
	padding: 4vh;
	text-align: center;
}

h3.home {
	font-size: 1.5em;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin: 20px auto;
}

/* Header */
#header { position: relative; height: 100vh; }
#header h1 {font-size:6em; letter-spacing: normal; text-align: center; margin-bottom: 12px;}
#header h2 {font-weight: 300; text-align: center;}


/*----- Home Page Customization ------*/
#rotate1 {
	display: inline-block;
	color: #095d98;
}

#agnes-home {
	background-image: url("/img/misc/callout_2.png");
	background-repeat: no-repeat;
	margin-bottom: 15px;
	padding-bottom: 20px;
	max-width: 400px;
	width: auto;
	display: flex;
	height: auto;
}

#agnes-home p {
	padding: 15px;
	text-align: left;
}

#agnes-hm {display:block;}

#agnes-hm img {
	margin: 0 15px 10px 0;
	max-width: 100%;
	width: auto;
}

.btn-dc-primary {
	background-color: #333;
	border-radius: 30px;
	color: white;
	display: inline-block;
	margin: 0 10px 15px 0;
	width: 220px;
}

.btn-dc-secondary {
	background-color: #00b9ff;
	border-radius: 30px;
	color: white;
	display: inline-block;
	margin: 0 0 15px 0;
	width: 220px;
}

.btn-dc-secondary a {
	color: white;
}

.btn-dc-secondary a:hover {
	color: #333;
}

.btn-dc {
	border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.btn-row {
	margin:0 auto;
}

/* --------- How it Works --------------- */
.how {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 4vh;
}

.how::after {
	content:"";
	height: 50px;
	width: 50px;
	background-image: url("../img/icons/arrow-blue.png");
	background-repeat: no-repeat;
	top: 55px;
	right: 0px;
	position: absolute;	
	display: inline-block;
}

.how p {
	text-align: center;
	padding: 0 50px 0 50px;
}

.how-grid {
	margin-top: 30px;
}

.nav-tabs {
	border: none;
	margin-top: 30px;
	justify-content: center;
}

.nav-link { margin-right: 2px; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		border: 1px solid #6a6a6a;
	  color: #095d98;
    background-color: #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    border: 1px solid #6a6a6a;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
		border-bottom-right-radius: .25rem;
		border-bottom-left-radius: .25rem;
}

.btn-sign-up {
	color: #095d98;
  background-color: #fff;
  border-color: #6a6a6a;
	display: block;
	font-size: 2.5vh;
	padding: 20px 30px 20px 30px;
	margin: 4vh auto;
	text-align: center;
	vertical-align: middle;
}	

span.bump-link {
	background: url("../img/icons/icon-long-arrow-blue.png") no-repeat 8px 8px;
	height: 33px;
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

span.bump-link:hover {
	transform: translateX(5px);
  transition: .2s;
}

/* -------- TESTIMONIALS ----------*/
.headshot {
	display:block;
	height: 130px;
	width: 130px!important;
	justify-content: center;
	padding: 10px;
	border: 1px solid #333;
	margin-bottom: 10px;
}


/* ----------- INNER SECTIONS ----------- */
#inner { padding: 24vh 0 12vh 0; font-size: 21px; line-height: 1.65; }
#inner h1 { margin-bottom: 12vh; letter-spacing: -0.03em; }

/* Testimonials */
#testimonials { padding: 2vh 5vh 0 5vh; margin: 0; }
#quotes .item { margin: 0; }
#quotes cite { font-size: 3vh; font-style: normal; font-weight: 300; }

/* Testimonials Resources*/
#testimonials-resources { padding: 2vh 5vh 0 5vh; margin: 0; }
#quotes-resources .item { margin: 0; }
#quotes-resources cite { font-size: 3vh; font-style: normal; font-weight: 300; }

/* Owl Dots */
.owl-theme .owl-dots { position: absolute; bottom: -50px; left: 50%; transform: translateX(-50%); width: 100%; }
.owl-theme .owl-dots .owl-dot span { width: 10px; height: 10px; background: #999; border: 2px solid transparent; margin: 2px 8px; }
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span { transform: scale(1.6) !important; background: transparent; border-color: #505050 !important; }

/* Footer */
#footer h2 { font-size: 5vh; }

/* Services */
.service { padding: 10vh 0; }
.pricing-box {
	padding: 10%;
	margin-bottom: 1em;
}

/* Legal */
.legal { font-size: 0.85em; }

/* Contact */
#contact { padding-top: 12vh; padding-bottom: 10vh; width: 100%; }
#contact h1 { letter-spacing: -0.03em; }
#contact h1 u { position: relative; text-decoration: none; white-space: nowrap; }
#contact .list-social { display: block; width: 100% !important; padding: 0; white-space: nowrap; }

/*------- Case Studies ---------*/
.web-screen img {
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0,0,0,.2);
}

.project-info .project-tags li {
		color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .06em;
    font-weight: 600;
    font-size: 12.5px;
}

.project-info .project-tags li::after {
		color: #fff;
    content: " ·";
    padding: 0 8px 0 5px;
}

.project-info .project-tags li:last-of-type::after {
    display: none;
}

/* ----------- FORMS & BUTTONS ----------- */
.control-label { display: none; }
.form-control { border-radius: 0; border: none; border-bottom: 2px solid #333; background-color: transparent; padding: 3vh 0; font-size: 1.2em; }
.form-control:focus { border-color: #505050; box-shadow: none; padding-left: 0.7em; }
.custom-control-label { font-size: 1em; line-height: 1.65; }
.custom-control-label::before { background-color: #fff; }
.custom-checkbox .custom-control-input~.custom-control-label::before { border-color: #333; }
.custom-checkbox .custom-control-input:checked~.custom-control-label::before { background-color: #333; border-color: #333; }
.custom-checkbox .custom-control-input:focus~.custom-control-label::before { box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #fff; border-color: #333; }
.custom-checkbox .custom-control-input:checked~.custom-control-label::after { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus { border-color: #333; -webkit-text-fill-color: #333; -webkit-box-shadow: 0 0 0px 1000px #fff inset; }
.form-control::placeholder { color: #333; opacity: 1 !important; }
.form-control:-ms-input-placeholder { color: #333; }
.form-control::-ms-input-placeholder { color: #333; }

/* Buttons */
.btn { line-height: 1; padding: 18px 4px 16px 4px; text-transform: uppercase; letter-spacing: 0.5px; border: none; background-color: transparent; border-radius: 30px; font-weight: 600; box-shadow: none !important; }
.btn:hover { padding: 18px 24px 16px 24px; background-color: #333; color: #fff; }
.btn svg { margin-right: 0.5em; margin-top: -3px; }
.btn:hover svg { margin-right: 1em; }
.btn svg path { fill: #333; }
.btn:hover svg path { fill: #fff; }




/* ------------- EXTRAS ------------- */
/* Transitions */
a, input, select, textarea, button, .btn, .btn svg, .btn svg path, .form-control, .navbar-brand svg path, h1, h2, h3, h4, p, ul, .owl-dot span, *::after, *::before { -moz-transition: all ease-in-out .33s; -webkit-transition: all ease-in-out .33s; transition: all ease-in-out .33s; }

/* Animation Keyframes */
@keyframes leaves {
  0% { transform: scale(1.8); opacity: 0; }
  33% { transform: scale(2); opacity: 1; }
  50% { transform: scale(1); opacity: 0; }
  100% { transform: scale(1.8); opacity: 0; }
}
@keyframes scrollit {
  0% { opacity: 1; }
  100% { opacity: 0; transform: translateY(30px); }
}
@keyframes pulse {
  to { opacity: 1; }
}

/* Text Selection */
::-moz-selection { text-shadow: none; background: #505050; color: #fff; }
::selection { text-shadow: none; background: #505050; color: #fff; }
img::selection { background: 0 0; }
img::-moz-selection { background: 0 0; }

/* Text underlined */
u { position: relative; text-decoration: none; box-decoration-break: clone; -webkit-box-decoration-break: clone; white-space: nowrap; }
u::after { content: ""; position: absolute; width: 100%; height: 0.45em; bottom: -0.15em; left: 0; background-color: #aaa; display: inline-block; box-decoration-break: clone; -webkit-box-decoration-break: clone; transform: skew(-14deg, 0deg) rotate(-1deg); z-index: -1; }
h1 u::after { width: calc(100% + 4px); height: 0.28em; bottom: 0; }

/* Underlined Link Effect */
.navbar ul a, #footer-links a, a.underlined { position: relative; display: inline-block; padding: 0 !important; }
.navbar ul a::after, #footer-links a::after, a.underlined::after { content: ''; position: absolute; z-index: -1; width: 0%; height: 0.1em; min-height: 2px; left: 0; bottom: 0; background-color: #333; transition: width ease-out 0.2s; transition-delay: 0.2s; }
.navbar ul a:hover::after, #footer-links a:hover::after, a.underlined:hover::after { width: 100%; transition-delay: 0s; }
.color-dark .navbar ul a::after, .color-dark #footer-links a::after, .color-dark a.underlined::after { background-color: #fff; }
