@charset "UTF-8";

/* ------------- LARGE DEVICES --------------- */
@media (min-width: 769px) {
	div p:last-child { margin-bottom: 0; }
	.section { overflow: visible; min-height: 100vh; position: relative; display: flex; justify-content: center; align-items: center; background-position: left top; background-repeat: repeat; background-size: 40%; }
	.section .container-fluid { position: relative; padding: 0 2em 0 4em; width: 98%; height: 100vh; display: flex; align-items: center; }
	.section .container-fluid .row { width: 100%; }
}

@media (min-width: 992px) {	
	.container-fluid { padding: 0 40px; }
	.navbar { padding: 0; }	
}

@media (min-width: 1025px) {	
	/* Custom Cursor */
	*, a, button { cursor: none !important; }
	.cursor { position: absolute; top: -4px; background-color: #505050; border: 2px solid transparent; width: 16px; height: 16px; border-radius: 100%; transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity; user-select: none; pointer-events: none; z-index: 10000; transform: scale(1); }
	.cursor.active { opacity: 0.8; transform: scale(2.4); border: 2px solid #505050; background-color: transparent; }
	.cursor.hovered { opacity: 0.5; transform: scale(1.4); background-color: #333; }
	.nav-open .cursor { background-color: #fff; }
	.nav-open .cursor.active { border-color: #fff; background-color: transparent; }
	
	/* ScrollDown */
	#scrollDown,
	#scrollDown:before { position: absolute; left: 50%; z-index: 111; z-index: 99; }
	#scrollDown { width: 34px; height: 60px; margin-left: -17px; bottom: 75px; margin-top: -30px; box-shadow: inset 0 0 0 2px rgba(0,0,0,.2); border-radius: 22px; }
	#scrollDown { opacity: 0; transition: opacity 0.5s ease-out; }
	.active #scrollDown { opacity: 1; }
	#scrollDown:before { content: ''; width: 6px; height: 6px; background: #333; margin-left: -3px; top: 10px; border-radius: 3px; display: block; animation: scrollit 2s ease-out infinite; }
	#scrollDown .text { display: block; margin-top: 68px; margin-left: -30px; font-size: 12px; color: #333; text-transform: uppercase; font-weight: 500; letter-spacing: 0.5px; white-space: nowrap; opacity: .25; animation: pulse 1s ease-in-out alternate infinite; }
}

@media (min-width: 992px) and (max-width: 1200px) {
	h1, #header #title { font-size: 6vw; }
	h2 { font-size: 3vw; }
	h3 { font-size: 2.5vw; }
	h4 { font-size: 15px; }	
}

@media (min-width: 1200px) and (orientation: landscape) {
	#header #title { font-size: 9vh; }
	#error404 h1 { font-size: 20vh; margin-bottom: 4vh !important; }
}


/* -------------- SMALL DEVICES -------------- */
@media (max-width: 1024px) {
	#header #title { font-size: 72px; }
	#scrollDown { display: none; }
}

@media (max-width: 768px) {
	body { font-size: 17px; text-align: center; min-height: auto !important; }
	h1 { font-size: 50px; margin-bottom: 6vh; text-align: center; }
	h2 { font-size: 28px; }
	h3 { font-size: 20px; }
	h4 { font-size: 16px; }
	.big { font-size: 19px; }
	small, .small { font-size: 13px; }
	.lead { font-size: 21px; }
	#quotes cite { font-size: 21px; }
	u { white-space: normal; }
	dt { text-align: right; }
	dd { text-align: left; }
	
	/* Navigation */
	.navbar { top: 0; padding: 5px 15px; }
	.navbar-brand svg { height: 44px; width: auto; }
	.nav-button { height: 18px; padding: 0; }
	.nav-open #description,
	.nav-open #social,
	.nav-open #footer-links { color: #333 !important; font-size: 14px; }
	#description, .color-white #description { left: -100px !important; }
	.nav-open #description { left: 30px !important; }
	#social, .color-white #social { right: -100px !important; }
	.nav-open #social { right: 28px !important; }
	#social .list-inline { font-size: 14px; }
	#social .list-inline-item { margin-right: 12px; }	
	#footer-links { bottom: -240px; opacity: 0; }
	#footer-links li { font-size: 14px; }
	.nav-open #footer-links { bottom: 15px; opacity: 1; }
	.nav-open #footer-links li { margin: 0 4px; }
	.nav-open #footer-links a { color: #333 !important; }
	#footer-links, #footer-links .text-right { text-align: center !important; }
	#footer-links .big { display: none; }
	
	/* Fullpage */
	.fp-section { min-height: auto; height: auto; }
	.section { min-height: auto; height: auto; padding: 10vh 0; margin: 0; }
	.fp-tableCell { height: auto !important; }
	.section .container { padding: 10vh 5vw 0 5vw; }
	.section .container br { display: none; }
	.section .container-fluid { min-height: auto; height: auto; }
	
	
	#section-02 #testimonials .container { padding: 2vh 5vw 0 5vw};
	
	/* Inner Sections */	
	#header #title { font-size: 56px; }
	#header h1 { font-size: 26px; line-height: 1.4; }
	#footer h2 { font-size: 32px; }
	#inner { font-size: 17px; }
	#inner, #contact { padding: 30vh 0 15vh 0; }
	#contact h1 { padding-bottom: 5vh; }
	#services { text-align: center; }
	#services img { width: 50%; height: auto; margin: 0 auto !important; }
	#error404 h1 { font-size: 72px; }
	
	/* Forms & Buttons */
	.btn { font-size: 14px; }
	
	.how::after {display: none;}
}

@media (max-width: 414px) {
	body { font-size: 16px; }
	#header #title { font-size: 52px; }
	#header h1 { margin-bottom: 4vh; }
	#services img { width: 60%; }
	#contact form { padding-top: 5vh; }	
}

@media (max-width: 768px) and (orientation: landscape) {
	#footer-links li { font-size: 15px; }
	.main-menu .nav li a { font-size: 44px; }
	.h-100 { min-height: 500px !important; }
}

/* --- Text legibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi), 
only screen and ( min-resolution: 1.25dppx) {
	body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: subpixel-antialiased; font-smoothing: antialiased; }
}

/*----- Customizations ------*/
@media (min-width: 769px) {
	.project-info {
	    opacity: 0;
	    transition: opacity .6s ease-in;
	}

	.active .project-info {
	    opacity: 1;
	}
}

@media (max-width: 768px) {
	.project-info {
	    text-align: center;
	    padding-top: 4vh;
	}
}