title: "Drupal Contractors"
description: >-
keywords: staffing, Drupal, drupal, Drupal freelancers, drupal freelancers, Drupal contractors, Drupal staffing
vertical: Drupal
community: "https://drupal.org/"
coding_standards: "https://www.drupal.org/docs/develop/standards"
url: "https://drupal-contractors.github.io"
email: service@esteemed.io
slack_signup_link: "https://join.slack.com/t/esteemed/shared_invite/zt-aejwraa8-mFs6ZUEs6voPD5RCV3vwvg"
bot_link: /
bio: drupal_bio
experience: drupal_experience
contractor_profiles_link: /get-a-quote/
twitter: drupalcontract
linkedin: drupal-contractors
facebook: drupalcontractors
logo:
  white: /assets/img/drupal-logo-horiz-white.svg
  black: /assets/img/drupal-logo-horizontal-blk.svg

collections:
  skills:
    output: true
    permalink: /:collection/:name

# Build settings
remote_theme: "EsteemedIO/esteemed-theme@develop"
markdown: kramdown
plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-get-json
  - jekyll-menus
  - jekyll-paginate-v2
  - jekyll-datapage-generator
  - jekyll-redirect-from

jekyll_get_json:
  - data: profiles
    json: '/mock/profiles.json'
  - data: config
    json: https://khfmg9m8l2.execute-api.us-east-1.amazonaws.com/prod/config

author_dir: "blog/author"
author_title_prefix: ""
pagination:
  enabled: true
  per_page: 10
  permalink: "/:num/"
  title: ":title - page :num"
  limit: 0
  sort_field: "date"
  sort_reverse: true
autopages:
  enabled: true
  title: ':cat Posts'
  categories:
    layouts:
      - 'categories.html'
    permalink: "/blog/category/:cat/"
  collections:
    enabled: false
  tags:
    enabled: false

page_gen-dirs: true
page_gen:
  - data: "profiles"
    template: "contractor"
    name: "id"
    dir: "profile"
  - data: "titles"
    template: "contractors"
    name: "key"
    dir: "contractors"
  - data: "config.skills"
    template: "contractors"
    name: "key"
    dir: "skills"
    title_expr: + "Browse Top-Rated Talent in " + record['value']
    description: record['description']

collections:
  categories:
    title: Categories
    output: true

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
      image: /img/meta/main.jpg
      contact_form: true
  -
    scope:
      type: "posts"
    values:
      layout: "post"
      permalink: /blog/:year/:month/:day/:title/
  -
    scope:
      path: ''
      type: authors
    values:
      permalink: "/blog/author/:title/"
      layout: authors
      image: /img/profile-pic.png
      sitemap: false
  -
    scope:
      path: ''
      type: categories
    values:
      permalink: "/blog/category/:title/"
      layout: categories
      sitemap: false
sass:
  load_paths:
    - _sass
    - node_modules
exclude:
  - gulpfile.js
  - package.json
  - package-lock.json
  - vendor
