---
title: About
permalink: "/about/"
heading: Made for Drupal Devs by Drupal Devs.
bios:
- Founded in 2011 by <a class="underlined" href="https://www.drupal.org/u/chris-mcgrath"
  target="_blank" title="Chris McGrath on Drupal.org">Chris McGrath</a>, Drupal Developer
  / Front-end Architect and serial entrepreneur &mdash; our platform was created to
  be a place for Drupal resources to <u>connect with employers and network</u> with
  one another on contract project opportunities. Over time our resource base has grown
  to over 250+ developers worldwide.
- In 2017 <a class="underlined" href="https://www.drupal.org/u/albert-volkman" target="_blank"
  title="Albert Volkman on Drupal.org">Albert Volkman</a>, a Drupal Developer / Back-end
  Architect and <u>top 100 Drupal contributor</u>, joined the team as a partner. The
  two collaboratively guide the technical vision of the product.
testimonials:
- name: Matt O'Bryant
  title: VP Professional Services, Oomph
  image: "/img/misc/matt-obryant.jpg"
  testimony: A consistant reliable source for quality Drupal Developers.
- name: Gibson Smith
  title: CEO Avionos
  image: "/img/misc/gibson-smith.jpeg"
  testimony: High quality resources quickly. We couldn't be more happy with the relationship.
- name: Dan Ventura
  title: SVP Digital, Fuse Ideas
  image: "/img/misc/dan-ventura.jpeg"
  testimony: A fantastic source for talented Drupal developers. They have never let
    us down!

---
<main id="inner">
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-11 col-xl-9">
          <h1>{{ page.heading }}</h1>
        </div>
      </div>
      {% if page.bios %}
      <div class="row pb-5">
        {% for bio in page.bios %}
        <div class="col-lg-6">
          {{ bio }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if page.testimonials %}
        {% include testimonials.html testimonials=page.testimonials id="testimonials" %}
      {% endif %}
    </div>
  </section>
  {% include footer_project.html %}
</main>
