---
title: Home
client_testimonials:
- name: Matt O'Bryant
  title: VP Professional Services, Oomph
  image: "/img/misc/matt-obryant.jpg"
  testimony: A consistant reliable source for quality Drupal Developers.
- name: Gibson Smith
  title: CEO Avionos
  image: "/img/misc/gibson-smith.jpeg"
  testimony: High quality resources quickly. We couldn't be more happy with the relationship.
- name: Dan Ventura
  title: SVP Digital, Fuse Ideas
  image: "/img/misc/dan-ventura.jpeg"
  testimony: A fantastic source for talented Drupal developers. They have never let
    us down!
resource_testimonials:
- name: Jack Franks
  title: Acquia Grand Master <br>Member Drupal.org 6 years
  image: img/misc/jack-franks.jpeg
  testimony: A great resource for finding clients and knowledgable team members.
- name: Gloria Tucker"
  title: Full-stack Developer <br>Member Drupal.org 4 years
  image: img/misc/gloria-tucker.jpeg
  testimony: The platform offers ample opportunity to find projects that accelerate
    growth.
- name: Jim Mastrangelo
  title: Senior Developer <br>Member Drupal.org 13 years
  image: img/misc/jim-mastrangelo.jpeg
  testimony: It's provided me with plenty of work within a wide variety of project
    types and teams.

---
<main id="main">
  <!-- Header -->
  <section id="header" class="section" data-anchor="header">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-md-12 mx-auto text-centered">
          <h1>Drupal <div id="rotate1"><span>Back-end</span><span>Front-end</span><span>Architecture</span></div>
            <br>Talent Fast.</h1>
          <h2>Over 400+ resources pre-screened by Drupal community experts.</h2>
          </h1>
        </div>
        <div class="col-md-12 mx-auto">
          <div class="d-flex flex-wrap justify-content-center">
            <div class="p2">
              <div id="agnes-hm"><img src="img/logos/agnes-avatar.png" alt="agnes digital assitant"></div>
            </div>
            <div class="p2">
              <div id="agnes-home">
                <p>Hi, I am Agnes. Welcome to Drupal Contractors!<br> What would you like to do?</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mx-auto">
          <div class="d-flex flex-wrap justify-content-center">
            <div class="p2"><button type="button" class="btn-dc-primary btn-lg">Hire Drupal Talent</button></div>
            <div class="p2"><button type="button" class="btn-dc-secondary btn-lg"><a href="{{ site.signup_url }}" target="_blank">Join Talent Network</a></button></div>
          </div>
        </div>
      </div>
    </div>
    <div id="scrollDown"><span class="text">scroll down</span></div>
  </section>
  <!-- Sections -->
  <!-- Section 01 -->
  <section id="section-01" class="section" data-anchor="01">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 mx-auto">
          <h2 class="text-center">How it works</h2>
        </div>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">For Employers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">For Developers</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h4 class="home">Scale on-demand with talent pre-screened by Drupal community experts.</h4>
          <div class="row how-grid">
            <div class="col-md-4 col-sm-12 mx-auto how"><img src="img/icons/icon-request-03.png"
                alt="agnes digital assitant">
              <h3 class="home">Request</h3>
              <p>Relay details about your project to <strong>Agnes</strong> our digital assistant.</p>
            </div>
            <div class="col-md-4 col-sm-12 mx-auto how"><img src="img/icons/icon-match-02.png"
                alt="agnes digital assitant">
              <h3 class="home">Match</h3>
              <p>Drupal experts <strong>quickly</strong> match resources with your request.</p>
            </div>
            <div class="col-md-4 col-sm-12 mx-auto how"><img src="img/icons/icon-hire-02.png"
                alt="agnes digital assitant">
              <h3 class="home">Hire</h3>
              <p>Confirm choices and your <strong>Account Manager</strong> will handle everything.</p>
            </div>
            <div class="col-md-12 text-center">
              <a href="{{ site.signup_url }}" class="btn mt-5" target="_blank"><img src="img/icons/arrow-btn.svg" class="svg" alt="arrow button">Sign Up</a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h4 class="home">Connect with top Drupal employers, mentors and teammates.</h4>
          <div class="row how-grid">
            <div class="col-md-4 col-sm-12 mx-auto how"><img src="img/icons/icon-join2.png"
                alt="agnes digital assitant">
              <h3 class="home">Join Us</h3>
              <p>Join our Talent
                Network, <strong>create a free profile</strong> and set availability.
            </div>
            <div class="col-md-4 col-sm-12 mx-auto how"><img src="img/icons/icon-screening6.png"
                alt="agnes digital assitant">
              <h3 class="home">Screening</h3>
              <p>A certified senior level Drupal
                developer <strong>reviews code</strong> and talks
                with former managers.</p>
            </div>
            <div class="col-md-4 col-sm-12 mx-auto how"><img src="img/icons/icon-work2.png"
                alt="agnes digital assitant">
              <h3 class="home">Work</h3>
              <p>Get connected with <strong>top employers</strong> for full or part-time projects.</p>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <a href="{{ site.signup_url }}" class="btn mt-5" target="_blank"><img src="img/icons/arrow-btn.svg" class="svg" alt="arrow button"> Register</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section 02 -->
  <section id="section-02" class="section" data-anchor="02">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-8 col-xl-6 mx-auto">
          <h2 class="text-center">Who relies on us?</h2>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#employers" role="tab"
                aria-controls="resources" aria-selected="true">Our Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#resources" role="tab"
                aria-controls="employers" aria-selected="false">Our Resources</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="employers" role="tabpanel" aria-labelledby="employers-tab">
              <h4 class="home">Scale on-demand with talent pre-screened by Drupal community experts.</h4>
              <div class="col-md-12 text-center">
                {% if page.client_testimonials %}
                {% include testimonials.html testimonials=page.client_testimonials id="" %}
                {% endif %}
              </div>
            </div>
            <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
              <h4 class="home">Connect with top Drupal employers, mentors and teammates.</h4>
              <div class="col-md-12 text-center">
                {% if page.client_testimonials %}
                {% include testimonials.html testimonials=page.resource_testimonials id="-resources" %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION 03 -->
  <section id="section-03" class="section" data-anchor="03">
    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-lg-8 col-xl-8 offset-xl-1 project-thumb order-lg-last">
          <div class="web-screen"><img src="../img/case_studies/case-sfo-02.jpg" class="img-fluid" alt="San Francisco Airport"></>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 project-info mt-4">
          <h4 class="uppercase mb-3">Case Study &mdash; San Francisco Airport</h4>
          <h2>Multiple Projects, On-going Support</h2>
          <p>Fuse Ideas, a digital marketing firm with multiple Airport clients, was in need of Drupal expertise to
            assist San Francisco airport with mission critical fixes and ongoing Drupal 8 support.</p>
          <ul class="list-inline project-tags">
            <li class="list-inline-item">Dev Ops</li>
            <li class="list-inline-item">Front-end</li>
            <li class="list-inline-item">UX</li>
            <li class="list-inline-item">Support</li>
          </ul>
          <a href="https://www.flysfo.com/" class="btn mt-5" target="_blank"><img src="img/icons/arrow-btn.svg" class="svg" alt="arrow button">View Site</a>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION 04 -->
  <section id="section-03" class="section" data-anchor="03">
    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-lg-8 col-xl-8 offset-xl-1 project-thumb order-lg-last">
          <div class="web-screen"><img src="../img/case_studies/case-blue365.png" class="img-fluid"
              alt="Blue 365 Deals"></>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 project-info mt-4">
          <h4 class="uppercase mb-3">Case Study &mdash; Blue Cross and Blue Shield</h4>
          <h2>Drupal 8 Staff Augmentation</h2>
          <p>Ommph! - a digital agency was in need of a Senior Drupal developer to augment their internal team on the BlueCross and Blue Sheild discount offer platform.</p>
          <ul class="list-inline project-tags">
            <li class="list-inline-item">Development</li>
            <li class="list-inline-item">Strategy</li>
            <li class="list-inline-item">Agile</li>
          </ul>
          <a href="https://www.blue365deals.com/" class="btn mt-5" target="_blank"><img src="img/icons/arrow-btn.svg" class="svg" alt="arrow button">View Site</a>
        </div>
      </div>
    </div>
  </section>
  {% include footer_project.html %}
</main>
