.page-node-add-job,
.page-node-add-job-notification {
  overflow-x: hidden;

  #page-header {
    margin-top: 20px;
  }

  #main {
    background: $grey--lightest;

    #content {
      .region-content {
        background: $white;
        padding: 3px;

        form {
          border: 3px solid $grey--background;
          padding: 20px;

          label {
            display: block;
          }

          div[class*='form-item-field-job-category-und'],
          div[class*='form-item-field-notification-location-und'] {

            label {
              display: inline-block;
              vertical-align: top;
            }

            select {
              display: inline-block;
            }
          }

          fieldset {
            border: none;
            border-radius: 0;

            &.filter-wrapper {
              display: none;
            }

            legend {
              background: transparent;
              border: none;
              margin-bottom: 5px;
              padding: 0;

              .panel-title {
                font-size: 18px;
                font-weight: bold;
              }
            }

            .fieldset-wrapper {
              border: 3px solid $grey--background;
              padding: 20px;
            }
          }

          input:not(.form-submit):not([type='file']):not([type='radio']):not([type='checkbox']),
          select,
          textarea,
          .bootstrap-tagsinput {
            border: {
              color: $grey-darker;
              radius: 0;
            }
            color: $blue--darkest;
            font-family: 'catamaransemibold';
            font-size: 14px;
            width: 100%;

            @media #{$medium-up} {
              font-size: 18px;
              max-width: 600px;
            }
          }

          select {
            padding: 0 10px;
          }

          textarea {
            resize: none;
          }

          .grippie {
            display: none;
          }

          .group-job-information,
          .group-rate-available {
            border: 3px solid $grey--background;
            margin-top: 20px;
            padding: 20px;

            h3 {
              margin-top: 0;
            }
          }

          .group-rate-available {
            margin-bottom: 20px;

            .field-name-field-time-commitment > .form-item-field-time-commitment-und {
              margin-bottom: 0;
            }
          }

          .field-name-field-job-type {
            margin-top: 20px;
          }

          .form-type-managed-file {
            margin-bottom: 0;

            label {
              text-transform: capitalize;
            }

            .image-widget-data {
              @media #{$small-down} {
                width: 100%;
              }
            }

            input {
              &.form-submit {
                height: 30px;
                line-height: 10px;
                margin-top: -5px;
                padding: 5px 15px;

                @media #{$small-down} {
                  margin-top: 15px;
                  width: 100%;
                }

                &:hover {
                  background: $blue--darkest;
                  border-color: $blue--darkest;
                  color: $white;
                }
              }
            }
          }

          .field-name-field-start-date {
            @media #{$medium-up} {
              max-width: 600px;
            }

            .fieldset-wrapper {
              .form-type-date-select {
                margin-bottom: 0;
                width: 100%;

                .date-padding {
                  display: flex;
                  padding: 0;

                  @media #{$small-down} {
                    flex-flow: column;
                  }

                  > .form-item {
                    flex: 1;

                    select {
                      width: 100%;
                    }

                    &:last-child {
                      margin-right: -10px;

                      @media #{$small-down} {
                        margin-right: 0;
                      }
                    }

                    &:not(:last-child) {
                      margin-right: 20px;

                      @media #{$small-down} {
                        margin: {
                          bottom: 10px;
                          right: 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .field-name-field-job-location {
            select {
              max-width: 100%;
            }

            fieldset {
              .fieldset-wrapper {
                .locality-block,
                .street-block {
                  display: flex;

                  @media #{$small-down} {
                    flex-flow: column;
                  }

                  > .form-item {
                    flex: 1;

                    @media #{$small-down} {
                      margin-right: 0;
                    }

                    &:last-child {
                      margin-right: 0;
                    }

                    input {
                      max-width: 100%;
                    }
                  }
                }

                .street-block {
                  > .form-item {
                    &:first-child {
                      margin-right: 20px;

                      @media #{$small-down} {
                        margin-right: 0;
                      }
                    }
                  }
                }
              }
            }
          }

          .form-actions {
            @media #{$small-down} {
              margin-bottom: 0;
            }

            input {
              @media #{$medium-up} {
                min-width: 100px;
              }

              &[id*='edit-submit'] {

                @media #{$small-down} {
                  margin-bottom: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
