/**
 * @file
 * Companies list styles
 *
 * Located on the pages: Home page,
 */

.companyList {
  padding: 50px 0;
  @media #{$medium-up} {
    padding: 60px 0 40px;
  }
  > .view-header {
    font-family: $fontFamily-regular;
    font-size: 18px;
    color: $newblue--lightest2;
    text-align: center;
    margin-bottom: 20px;
  }
  > .view-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
  }
  .companyList-row {
    flex: 0 0 50%;
    padding: 10px 20px;
    @media #{$small-up} {
      flex: 0 0 25%;
    }
    @media #{$medium-up} {
      flex: 1 0 25%;
    }
  }
}

.companyItem {
  text-align: center;
  img {
    height: 35px;
    width: auto;
  }
}
