/**
 * @file
 * Contractors view
 *
 * Located on the pages: contractors/*
 */

.contractorsView {
  padding-top: 60px;
  padding-bottom: 30px;
}

.view-dc-search {

  #edit-profile2-field-address-country-1-wrapper {
    margin-top: 21px;

    #edit-profile2-field-address-country-1 {
      display: none;
    }
  }

  #edit-search-wrapper {
    width: 40%;

    @media #{$xsmall-down} {
      width: 100%;
    }
  }

  #edit-profile2-field-rate-wrapper {
    clear: both;
  }

  .form-type-radio {
    label {
      display: block;
      margin-bottom: 7px;

      &:hover {
        color: $blue--darkest;
      }

      &.active {
        &:after {
          background: $blue--darkest;
          border-radius: 100%;
          content: "";
          display: inline-block;
          height: 6px;
          left: 4px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 6px;  
        }
      }

      &:before {
        background: $grey--checkbox;
        border-radius: 100%;
        content: "";
        display: inline-block;
        height: 14px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
      }

      input {
        visibility: hidden;
      }
    }
  }

  select {
    padding-top: 2px;
  }

  .advanced-filters a {
    align-items: center;
    display: flex;
    font-weight: bold;

    &:before {
      bottom: -2px;
      content: "\f4a6";
      font-family: ionicons;
      font-size: 25px;
      font-weight: bold;
      padding-right: 9px;
      position: relative;
    }
  }
}
