/**
 * @file
 * Contractors view
 *
 * Located on the pages: browse-contractors, search/contractors
 */

.page-browse-contractors {
  .views-field-field-skills .field-content {
    font-size: 8px;
  }
}

.page-search-contractors {
  .main {
    margin-top: 30px;
  }

  //heavy margin on sidebar right to match main content
  #sidebar-right {
    @media #{$small-up} {
      margin-top: 74px;
    }

    @media #{$small-down} {
      margin-top: 30px;
    }
  }
}

.page-browse-contractors,
.page-contractors-search,
.page-search-contractors {
  background: $grey--lightest;

  #quicktabs-tabpage-browse_contractors-0
  #quicktabs-tabpage-contractors_search-0 {
    .views-field-field-skills,
    .views-field-field-present-location,
    .views-field-field-title,
    .views-field-field-name {
      @media #{$small-up} {
        padding-left: 120px;
        padding-right: 165px;
      }
    }

    .views-field-field-skills {
      margin-top: 10px;
    }
  }

  .views-field-field-skills {
    .field-content {
      display: inline-block;
      overflow: hidden;
    }

    .show-more-skills {
      color: $blue--darkest;
      font-size: 15px;

      &:hover {
        cursor: pointer;
        font-weight: 800;
      }
    }
  }

  .view-dc-search {
    tr .views-field-field-skills {
      .field-content {
        font-size: 0;

        li {
          margin-bottom: 4px;
          margin-left: 4px;
        }
      }
    }
  }
}

.views-widget-filter-field_address_country {
  display: none;
}

.views-widget-filter-drupal_org_profile{
  display: none;
}

.advanced-filters{
  clear: both;
}

/* Slide US toggle. */
.us-toggle {
  display: inline-block;
  height: 34px;
  margin-right: 15px;
  position: relative;

  input {
    display:none;
  }

  .slider.round {
    background-color: $grey-darker;
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: .4s;
    transition: .4s;
    width: 70px;

    &:before {
      background-color: $white;
      border-radius: 50%;
      bottom: 4px;
      content: "";
      height: 26px;
      left: 4px;
      position: absolute;
      -webkit-transition: .4s;
      transition: .4s;
      width: 26px;
    }

    &:after {
      color: $white;
      content: "OFF";
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      right: 12px;
      top: 49%;
      transform: translateY(-50%);
    }
  }

  .text {
    display: inline-block;
    margin-left: 80px;
    vertical-align: middle;
    white-space: nowrap;
  }

  input:checked + .slider.round {
    background-color: $blue--darkest;

    &:after {
      content: "ON";
      left: 12px;
      position: absolute;
      top: 49%;
      transform: translateY(-50%);
    }
  }

  input:focus + .slider.round {
    box-shadow: 0 0 1px $blue--darkest;
  }

  input:checked + .slider.round:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
}

.region-content.skills-page {
  position: relative;
  .us-toggle {
    margin-left: 20px;
    position: absolute;
    top: 120px;
    z-index: 1;
    @media #{$small-down} {
      top: 100px;
    }
  }
  .view-browse-contractors {
    .view-header {
      margin-bottom: 60px;
    }
  }

  input:focus + .slider.round {
    box-shadow: 0 0 1px $blue--darkest;
  }
}

#quicktabs-browse_contractors {
  background: $white;
  padding: 25px;
  position: relative;

  input:checked + .slider.round:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
}

#quicktabs-browse_contractors, #quicktabs-contractors_search {
  background: $white;
  padding: 25px;
  position: relative;

  .views-submit-button,
  .views-widget-filter-drupal_org_profile .form-type-radio:first-child,
  .views-widget-filter-code_repository .form-type-radio:first-child {
    display: none;
  }

  #quicktabs-container-browse_contractors {
    margin-top: 20px;
  }

  > .item-list {
    position: absolute;
    right: 25px;
    top: 29px;

    @media #{$xsmall-down} {
      display: none;
    }
  }

  #quicktabs-tab-browse_contractors-0,
  #quicktabs-tab-browse_contractors-1,
  #quicktabs-tab-contractors_search-0,
  #quicktabs-tab-contractors_search-1 {
    font-size: 0;

    &:before {
      content: "\f394";
      display: inline-block;
      font-family: $fontFamily-ionicons;
      font-size: 28px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      speak: none;
      text-rendering: auto;
      text-transform: none;
      transition: 0.3s;
    }

    &:hover:before {
      color: $blue--darkest;
    }
  }

  #quicktabs-tab-browse_contractors-1:before,
  #quicktabs-tab-contractors_search-1:before {
    content: "\f35c";
  }

  .ajax-progress {
    display: none;
  }

  .quicktabs-tabs {
    li {
      margin-left: 40px;

      &:first-child {
        margin: 0;
      }

      a {
        color: $black;
        font-size: 18px;
      }

      &.active a {
        font-weight: bold;
      }
    }
  }

  #quicktabs-tabpage-browse_contractors-0,
  #quicktabs-tabpage-contractors_search-0 {
    .view {
      margin-top: -120px;
      padding-top: 120px;

      @media #{$medium-up} {
        margin-top: -140px;
        padding-top: 140px;
      }
      tr {
        &:last-of-type {
          td {
            border-bottom: 1px solid $grey--border;
          }
        }

        td {
          padding-bottom: 20px;
          padding-top: 20px;
          position: relative;

          @media #{$xsmall-down} {
            text-align: center;
          }
        }
      }

      .views-field-field-profile-picture {
        background: $white;
        border-radius: 100%;
        height: 100px;
        overflow: hidden;
        width: 100px;

        @media #{$xsmall-down} {
          margin: 0 auto;
        }

        @media #{$small-up} {
          float: left;
        }

        .field-content {
          left: 50%;
          position: relative;
          text-align: center;
          top: 50%;
          transform: translate(-50%, -50%);

          img {
            border-radius: 100%;
            height: auto;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }

      .views-field-field-name {
        font-size: 17px;
        font-weight: bold;

        @media #{$small-up} {
          padding-left: 120px;
        }

        a {
          color: $black;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .views-field-field-title {
        font-size: 15px;

        @media #{$small-up} {
          padding-left: 120px;
        }

        a {
          color: $black;

          &:hover {
            color: $blue--darkest;
            font-weight: bold;
          }
        }
      }

      .views-field-field-skills,
      .views-field-profile2-field-skills,
      .views-field-profile2-field-english-proficiency {

        @media #{$small-up} {
          padding-left: 120px;
        }
      }

      .views-field-field-skills,
      .views-field-profile2-field-skills {
        margin-top: 20px;

        @media #{$small-up} {
          padding-right: 170px;
        }
      }

      .views-field-field-present-location {
        font-weight: bold;
        margin-top: 5px;

        @media #{$small-up} {
          padding-left: 120px;
        }
      }

      .views-field-field-english-proficiency {
        margin: 5px 0;

        @media #{$small-up} {
          padding-left: 120px;
        }
      }

      .views-field-nothing {
        @media #{$xsmall-down} {
          margin-top: 15px;
          padding: 0;
        }

        @media #{$small-up} {
          float: right;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        .btn--white:hover a {
          color: $white;
        }

        .btn {
          font-size: 13px;
          min-width: 160px;
        }

        .btn {
          @media #{$xsmall-down} {
            margin-left: 0;
            margin-right: 0;
            margin-top: 10px;
            width: 100%;
          }

          &--white {
            @media #{$small-up} {
              display: block;
              margin: 0;
            }
          }

          &--blue {
            @media #{$small-up} {
              display: block;
              margin: 0 0 7px 0;
            }

            a {
              color: $white;
            }

            &:hover a {
              color: $blue--darkest;
            }
          }
        }
      }
    }
  }

  #quicktabs-tabpage-browse_contractors-1,
  #quicktabs-tabpage-contractors_search-1 {
    .view {
      .row {
        display: flex;
        flex-wrap: wrap;

        .views-row {
          display: flex;
          margin-bottom: 30px;

          .row-wrapper {
            border: 1px solid $grey--most;
            display: flex;
            flex-direction: column;
            padding: 15px;
            position: relative;
            text-align: center;
            transition: 0.3s;
            width: 100%;

            &:hover {
              box-shadow: 1px 1px 3px $grey--shadow;
            }
          }
        }
      }

      .views-field-field-profile-picture {
        background: $white;
        border-radius: 100%;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        width: 100px;

        .field-content {
          left: 50%;
          position: relative;
          text-align: center;
          top: 50%;
          transform: translate(-50%, -50%);

          img {
            border-radius: 100%;
            height: auto;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }

      .views-field-field-name {
        font-size: 17px;
        font-weight: bold;
        margin-top: 10px;

        a {
          color: $black;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .views-field-field-title {
        font-size: 15px;

        a {
          color: $black;

          &:hover {
            color: $blue--darkest;
            font-weight: bold;
          }
        }
      }

      .views-field-field-present-location {
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
      }

      .views-field-field-language-group {
        margin: 5px 0;

        .field-name-field-language,
        .field-name-field-language-proficiency {
          display: inline-block;
        }

        .field-name-field-language {
          font-weight: bold;

          .field-item:after {
            content: ":";
            display: inline-block;
            margin-right: 4px;
          }
        }
      }

      .views-field-profile2-field-title,
      .views-field-field-address-country,
      .views-field-profile2-field-english-proficiency {
        padding-top: 5px;
      }

      .views-field-field-skills {
        padding-top: 10px;
      }

      .views-field-nothing {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: auto;
        padding-top: 20px;

        .field-content {
          border-top: 1px solid $grey--most;
          display: block;
        }

        .bottom {
          .btn {
            font-size: 13px;
            @media #{$xlarge-up} {
              min-width: 120px;
            }
          }

          .btn--white {
            margin-top: 15px;
            padding-left: 5px;
            padding-right: 5px;

            &:hover a {
              color: $white;
            }
          }

          .btn--blue {
            margin-left: 0px;
            margin-right: 10px;
            margin-top: 15px;

            a {
              color: $white;
            }

            &:hover a {
              color: $blue--darkest;
            }
          }

          @media #{$xlarge-down} {
            margin-left: 10px;
            margin-right: 10px;

            .btn {
              display: block;
              width: 100%;

              a {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .pagination {
    .ajax-progress {
      display: none;
    }

    li {
      a,
      span {
        padding-top: 2px;
      }
    }
  }
}

.view-suggested-contractors-for-your-jobs.view-display-id-page_1 {
  &.view {
    margin-top: -120px;
    padding-top: 120px;

    @media #{$medium-up} {
      margin-top: -140px;
      padding-top: 140px;
    }
    tr {
      &:last-of-type {
        td {
          border-bottom: 1px solid $grey--border;
        }
      }

      td {
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;

        @media #{$xsmall-down} {
          text-align: center;
        }
      }
    }

    .views-field-field-profile-picture {
      background: $white;
      border-radius: 100%;
      height: 100px;
      overflow: hidden;
      width: 100px;

      @media #{$xsmall-down} {
        margin: 0 auto;
      }

      @media #{$small-up} {
        float: left;
      }

      .field-content {
        left: 50%;
        position: relative;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
          border-radius: 100%;
          height: auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }

    .views-field-nothing {
      font-size: 17px;
      font-weight: bold;

      @media #{$small-up} {
        padding-left: 120px;
      }

      a {
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .views-field-field-title {
      font-size: 15px;

      @media #{$small-up} {
        padding-left: 120px;
      }

      a {
        color: $black;

        &:hover {
          color: $blue--darkest;
          font-weight: bold;
        }
      }
    }

    .views-field-field-skills,
    .views-field-profile2-field-skills,
    .views-field-profile2-field-english-proficiency {

      @media #{$small-up} {
        padding-left: 120px;
      }
    }

    .views-field-field-skills,
    .views-field-profile2-field-skills {
      margin-top: 20px;

      @media #{$small-up} {
        padding-right: 170px;
      }
    }

    .views-field-nothing-1 {
      font-size: 20px;
      font-weight: bold;
      margin-top: 5px;

      @media #{$small-up} {
        padding-left: 120px;
      }
    }

    .views-field-nothing-2 {
      @media #{$xsmall-down} {
        margin-top: 15px;
        padding: 0;
      }

      @media #{$small-up} {
        float: right;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      .btn--white:hover a {
        color: $white;
      }

      .btn {
        font-size: 13px;
        min-width: 160px;
      }

      .btn {
        @media #{$xsmall-down} {
          margin-left: 0;
          margin-right: 0;
          margin-top: 10px;
          width: 100%;
        }

        &--white {
          @media #{$small-up} {
            display: block;
            margin: 0;
          }
        }

        &--blue {
          @media #{$small-up} {
            display: block;
            margin: 0 0 7px 0;
          }

          a {
            color: $white;
          }

          &:hover a {
            color: $blue--darkest;
          }
        }
      }
    }
  }
}
