/**
 * @file
 * Contractors dashboard
 *
 * Located on the pages: user/#/dashboard
 */

.page-user-dashboard.panel-layout-dashboard_contractor {

  #main-wrapper {
    background: transparent;

    @media #{$small-down} {
      margin: 0 5px;
    }

  }
  
  .pane-token {
    text-align: left;

    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
  
  .pane-1 {
    padding-bottom: 30px;
  }
  
  .contractors-layouts-content .panel-panel-inner {
    padding: 20px;
    background-color: $white;
    border: 1px solid $grey-darker;
    border-radius: 6px;

    &-bottom {
      margin-top: 30px;
    }

    .pane-jobs {
      margin-top: 0;

      .pane-title {
        margin-top: 0;
      }

      .view-jobs {

        .view-header {
          font-size: 18px;
        }

        .view-content {
          margin: 0 auto;
          position: relative;
          width: calc(100% - 120px);

          .slick {

            &-track {
              display: flex;
            }

            &__slide {
              align-self: center;

              .slide__content {
                border: 3px solid $grey--lightest;
                margin: 10px;
                padding: 10px;

                @media #{$xsmall-down} {
                  margin: 0;
                }

                .views-field-title {

                  a {
                    font-weight: bold;
                  }
                }
              }
            }

            &-prev,
            &-next {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }

            &-prev {
              left: -60px;
              @extend .left-slick-arrow;
            }

            &-next {
              right: -60px;
              @extend .right-slick-arrow;
            }
          }
        }
      }
    }
  }

  .contractors-layouts-content {
    text-align: center;
  }
  
  .field-name-field-profile-picture img {
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 3px #ccc;
  }

  .pane-profile2-field-name,
  .pane-profile2-field-last-name {
    display: inline-block;
    font-family: $fontFamily-regular;
    font-size: 26px;
    padding-top: 12px; 
    text-align: center;

    @media #{$small-down} {
      font-size: 22px;
    }
  }

  .pane-profile2-field-address {
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 20px;
  }
  
  .pane-user-mail {
    font-size: 16px;  
  }

  .pane-custom.pane-1 {
    padding-top: 15px;
  }

  .pane-jobs {
    text-align: left;

    .view-jobs {

      .view-header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;

        @media #{$small-down} {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      .views-row {

        .views-field-title {
          font-size: 16px;
          font-weight: bold;
          word-break: break-word;

          @media #{$small-down} {
            font-size: 18px;
          }
        }

        .views-field-created {
          font-size: 16px;
          font-style: italic;
        }

        .views-field-field-job-location {
          font-weight: bold;
        }

        &:not(:last-child) {
          border-bottom: 3px solid $grey--background;
          margin-bottom: 15px;
          padding-bottom: 20px;
          padding-top: 10px;
        } 
      }
    }
  }

  .contractors-layouts-sidebar {

  .panel-pane {
    padding: 20px;
    background-color: $white;
    border: 1px solid $grey-darker;
    border-radius: 6px;
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  
    @media #{$small-down} {
      margin-top: 20px;
    }

    .pane-custom.pane-2 {

      h3 {
        font-family: $fontFamily-regular;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;

        @media #{$small-down} {
          font-size: 20px;
        }
      }

      p {
        display: inline-block;
        margin-right: 5px;
      }

      .profile-resume-file-name {
        display: inline-block;
        vertical-align: middle;
      }

      .profile-resume-file-timestamp {
        font-size: 13px;
        font-style: italic;
      }
    }

    .pane-recommended-jobs {
      margin-top: 20px;
    }

    .view-recommended-jobs {

      .views-row {

        &:not(:last-child) {
          border-bottom: 3px solid $grey--background;
          margin-bottom: 5px;
          padding-bottom: 15px;
          padding-top: 10px;
        }

        .views-field-title {
          a {
            font-weight: bold;
          }
        }

        .job-info {

          .first, .second {
            margin-right: 5px;
          }

          .first,
          .second,
          .third {
            font-family: $fontFamily-regular;
            font-size: 16px;

            &:empty {
              display: none;
            }
          }
        }
      }
    }
  }
}

.view-friends-who-accepted-the-invitation {
  .views-row {
    border-bottom: 1px solid $grey--mid;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
