/**
 * @file
 * Contractors menu
 *
 * Located on the pages: contractors/*
 */

$bg-contractors-menu: $blue--darkest;
$bg-active-link: $grey--lightest;

.view-contactors {
  .slick--view--contactors {
    > .panel-1col {
      @media #{$xsmall-down} and (orientation: landscape) {
        max-width: 50%;
      }
      @media #{$medium-only} {
        max-width: 50%;
      }
      @media #{$large-only} {
        max-width: calc(100% / 3);
      }
      @media #{$xlarge-up} {
        max-width: calc(100% / 4);
      }
    }
  }
}

.contractorsMenu {
  position: relative;
  background: $bg-contractors-menu;

  &-btn {
    position: relative;
    width: 100%;
    border: 0;
    color: $white;
    background: transparent;
    text-align: left;
    text-transform: uppercase;
    padding: 0;
    @media #{$small-up} {
      display: none;
    }
    &.is-open {
      &:before {
        transform: rotate(225deg) translateY(2px);
        right: 4px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      transform: rotate(45deg) translateY(-15px);
      width: 15px;
      height: 15px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
    }
  }

  ul.menu {
    position: absolute;
    display: none;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    background: $grey--darkest;
    left: 0;
    @media #{$small-up} {
      position: static;
      background: transparent;
      display: flex !important;
    }
    @media #{$large-up} {
      flex-wrap: nowrap;
    }
    li {
      flex: 1 1 20%;
      text-align: center;
      margin: 0;
      @media #{$large-up} {
        flex: 1;
      }
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: $white;
        font-family: $fontFamily-extrabold;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 0;
        transition: all .3s;
        &:hover,
        &:focus,
        &.active {
          background: $bg-active-link;
          color: $blue--darkest;
        }
      }
    }
  }
}