/**
 * @file
 * Contractor box
 *
 * Located on the pages: contractors/*
 */

_::-webkit-full-page-media,
_:future,
:root .pane-homepage-find-to-perfect-addition .categoryList-row {
  display: flex;
  padding: 0;
  @media #{$xsmall-up} {
    flex: 0 0 calc(100% / 2 - 1px);
  }
  @media #{$medium-only} {
    flex: 0 0 calc(100% / 3 - 1px);
  }
  @media #{$large-up} {
    flex: 0 0 calc(25% - 1px);
  }
}

_::-webkit-full-page-media,
_:future,
:root .pane-homepage-find-to-perfect-addition .categoryList-row .views-field-nothing {
  display: flex;
  height: initial;
  flex: 1;
  padding: 5px;
}

_::-webkit-full-page-media,
_:future,
:root .pane-homepage-find-to-perfect-addition .categoryList-row .views-field-nothing span.field-content {
  display: flex;
  height: initial;
  flex: 1;
}

_::-webkit-full-page-media,
_:future,
:root .pane-homepage-find-to-perfect-addition .categoryList-row .views-field-nothing span.field-content a.categoryBox {
  height: initial;
  flex: 1;
}

#views-exposed-form-browse-contractors-contractors-skill-block {
  display: none;
}

.contractorBoxWrap {
  height: 100%;
  background: $white;
  margin: 0 15px;
  padding: 5px;
}

.contractorBox {
  position: relative;
  height: 100%;
  padding: 25px 20px 81px;
  border: 3px solid $grey--lightest;

  &-img {
    margin-bottom: 20px;
    text-align: center;
    > img {
      border: 5px solid $grey--lightest;
      border-radius: 50%;
      margin: 0 auto;
    }
  }

  &-name {
    margin-bottom: 10px;
    font-family: $fontFamily-extrabold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }

  &-title {
    margin-bottom: 25px;
    font-size: 14px;
    height: 32px;
    overflow-y: hidden;
    text-align: center;
  }

  &-rate,
  &-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid $grey--lightest;
    border-bottom: 1px solid $grey--lightest;
    font-size: 14px;
    &-label {
      font-family: $fontFamily-extrabold;
    }
    &-value {
      strong {
        font-family: $fontFamily-bold--second;
        font-size: 18px;
      }
    }
  }

  &-location {
    border-top: 0;
  }

  &-skills {
    padding: 25px 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      margin: 0 -5px;
      max-height: 65px;
      overflow-y: hidden;
      li {
        list-style: none;
        margin: 0 5px 10px;
      }
    }
  }

  &-signUp {
    color: $grey--light;
    margin-top: 50%;
    padding: 0 50px;
  }

  .btn {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    &-signUp {
      margin-top: 30px;
      position: static;
      transform: none;
    }
  }

  &.signUp {
    text-align: center;
  }
}
