.engageSection {
    background-color: $newblue--dark;
    color: $white;
    .pane-content {
        @include make-container();
    }

    .fieldable-panels-pane {
        padding: 65px 10px 60px;
        @media #{$small-up} {
            display: flex;
            flex-wrap: nowrap;
            padding: 130px 10px 115px;
        }
    }

    &-copy {
        padding: 28px 20px 28px 0;
        flex: 1.2;
        h2 {
            font-size: 36px;
            margin-bottom: 20px;
            font-family: $fontFamily-bold;
            text-align: left;
        }
        h3 {
            font-size: 16px;
            font-family: $fontFamily-regular;
            line-height: 1.45em;

        }
    }

    &-options {
        background-color: $newblue;
        flex: 1.7;
        padding: 35px 30px;
        @media #{$xsmall-up} {
            display: flex;
            flex-wrap: nowrap;
        }

        h3 {
            font-size: 23px;
            font-family: $fontFamily-serif;
            font-style: italic;
            margin-bottom: 5px;
        }
        p {
            font-size: 14px;
            font-family: $fontFamily-regular;
            line-height: 1.8em;
        }
    }
    &-option1 {
        flex: 0.8;
        padding-left: 10px;
    }
    &-option2 {
        flex: 1;
        margin: 10px 0;
        padding: 10px 0;
        border-top: 3px solid #00b8ff;
        border-bottom: 3px solid #00b8ff;

        @media #{$xsmall-up} {
            margin: 0 10px;
            padding: 0 10px;
            border-right: 3px solid #00b8ff;
            border-left: 3px solid #00b8ff;
            border-top: 0;
            border-bottom: 0;
        }
        @media #{$medium-up} {
            margin: 0 20px;
            padding: 0 20px;
        }
        @media #{$large-up} {
            margin: 0 30px;
            padding: 0 30px;
        }
    }
    &-option3 {
        flex: 0.85;
    }
}