/**
 * @file
 * Job
 *
 * Located on the pages: job node type
 */

.node-type-job {
  background: $grey--background;

  #main-wrapper {
    padding-bottom: 40px;
  }

  .content {
    background-color: $white;
    border-color: $grey--mid;
    box-shadow: $box-shadow;
    padding: 20px;
  }

  #content,
  #sidebar-right {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #content {
    .block__title {
      font-size: 24px;
    }
  }

  #sidebar-right {
    .block__title {
      font-family: $fontFamily-semibold;
    }
  }

  .job-title {
    font-size: 30px;
  }

  #siteFooter {
    clear: both;
  }

  .flag-message {
    display: block !important;
    position: unset;
    font-size: 14px;
    margin-top: 10px;
    width: auto;
  }

  .flag-apply-the-job {
    a {
      &:hover {
        background-color: $white;
        color: $newblue--lightest2;
      }
    }
  }

  .profile-company__logo {
    margin-bottom: 10px;

    img {
      max-height: 50px;
    }
  }

  .profile-company__name {
    display: inline-block;
    font-family: $fontFamily-semibold;
  }

  .profile-company__location {
    display: inline-block;

    &::before {
      content: "\2022";
    }
  }

  .job-metadata {
    margin-top: 10px;
  }

  .job-metadata__stat {
    color: $grey--light;
    display: inline-block;
    margin-right: 5px;

    &:not(:last-of-type)::after {
      content: "\2022";
      margin-left: 5px;
    }

    .view {
      display: inline-block;
    }
  }

  .job-actions {
    text-align: right;

    .links {
      margin-top: 10px;
      padding: 0;

      .flag-apply_the_job {
        margin: 0;
        margin-top: 10px;

        a {
          display: inline-block;
          min-width: 100px;
          padding: 15px 40px;
          text-align: center;

          &.unflag-action {
            background-color: transparent;
            border: 2px solid $newblue--lightest2;
            padding: 15px 20px;
          }
        }
      }
    }
  }

  .job-share,
  .job-options {
    color: $black;
    display: inline-block;
    min-width: 30px;
    padding: 0 10px;
    vertical-align: middle;
  }

  .job-details {
    padding-bottom: 10px;
    border-bottom: 1px solid $grey--lightest;

    .field,
    .job-details__skills {
      margin-bottom: 15px;
    }

    .job-details__label,
    .field-label {
      font-family: $fontFamily-semibold;
    }
  }

  .job-details__title {
    font-family: $fontFamily-semibold;
    margin-top: 0;
  }

  .job-details__skills {

    .job-details__label {
      margin-bottom: 5px;
    }

    .field-item {

      &::before {
        content: '\F14A';
        font-family: "FontAwesome";
        margin-right: 5px;
      }

      &.skill-is-match {
        &::before {
          color: $newblue--lightest2;
        }
      }

      &.skill-is-not-match {
        &::before {
          color: $grey--light;
        }
      }
    }
  }

  .benefits {
    background-color: $white;
    border-color: $grey--mid;
    box-shadow: $box-shadow;
    margin: 30px 0 20px;
    padding: 20px;

    .field-item {
      @extend %badge;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
}

.region-sidebar-right {
  .block {
    margin-bottom: 20px;
  }
  .block-drupalcontractors-notification {
    .btn--notification {
      @media #{$large-up} {
        font-size: 14px;
      }

      @media #{$xlarge-up} {
        font-size: 16px;
      }
    }
  }
}

.view-jobs {

  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{$large-up} {
      .views-row {
        width: 31%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .views-row:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    @media #{$large-down} {
      .views-row {
        width: 48%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .views-row:nth-child(2n+2) {
        margin-right: 0;
      }
    }

    @media #{$small-down} {
      .views-row {
        width: 48%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .views-row:nth-child(2n+2) {
        margin-right: 0;
      }
    }
    @media #{$xxsmall-only} {
      .views-row {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &.view-display-id-also_viewed {
    .views-row {
      border-bottom: 1px solid $grey--border;
      line-height: 1.5;
      padding: 10px 0;
      & img {
        width: 80px;
        max-height: 80px;
        height: auto;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  &.view-display-id-block_3 {

    .views-field-title {
      a {
        font-family: $fontFamily-semibold;
      }
    }

    .views-field-nothing-1 {
      margin-bottom: 15px;
    }

    .views-field-field-job-location {
      margin-bottom: 30px;
    }

    .views-field-created {
      margin-top: 10px;
    }
  }

  .connections {
    display: inline-block;
    vertical-align: middle;
  }

  .connections-images {
    border-bottom: 1px solid $grey--border;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 0;
    vertical-align: middle;

    img {
      border-radius: 50px;
      float: left;
      height: 30px;
      margin-left: -20px;
      width: 30px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

progress {
  -webkit-appearance: none;
  border: none;

  &::-webkit-progress-bar {
    background: $white;
    border: 1px solid $grey--border;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
  }
}

.red {
  progress {
    &::-webkit-progress-value {
      background-color: #ff0000;
    }
  }
}

.orange {
  progress {
    &::-webkit-progress-value {
      background-color: #ffcc00;
    }
  }
}
