/**
 * @file
 * Jobs
 *
 * Located on the pages: jobs
 */

.jobs-listing {
  background: $grey--lightest;
  &:not(.page-jobs) {
    .region-content {
      padding: 3px;
      background: $white;
    }
  }
  .jobs-wrapper {
    padding-top: 60px;
    padding-bottom: 30px;

    .ajax-progress-throbber {
      display: none;
    }
    .pane-content {
      padding: 3px;
      background: $white;
    }

    #content {

      .job-listing {
        background: $white;
        border: 3px solid $grey--background;
        display: flex;
        padding: 20px;

        @media #{$small-down} {
          padding: 0;
        }

        @media #{$xsmall-down} {
          flex-direction: column;
        }

        .views-exposed-form {

          .views-exposed-widgets {
            border: 0;
            box-shadow: none;

            @media #{$xsmall-down} {
              margin-bottom: 0;
            }

            .panel-heading {
              background: $white;
              border: 0;
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 5px;
              padding: 10px 10px 10px 27px;

              @media #{$xsmall-down} {
                padding: 10px 10px 10px 20px;

                &:hover {
                  cursor: pointer;
                }

                &::after {
                  content: "+";
                  display: inline-block;
                  font-size: 18px;
                  padding-left: 10px;
                }

                &.opened {

                  &::after {
                    content: "-";
                  }
                }
              }
            }

            .panel-body {
              background: $white;
              border: 3px solid $grey--background;
              display: flex;
              flex-direction: column;
              font-size: 18px;
              line-height: 20px;
              padding: 16px 24px 24px 24px;

              @media #{$xsmall-down} {
                display: none;
                margin-bottom: 20px;
                padding: 12px 20px 20px 20px;
              }

              @media #{$small-up} {
                display: flex !important;
              }

              .notification-link {
                margin-bottom: 10px;
                order: 1;
              }

              .subscribe-feed {
                order: 2;
              }

              #edit-field-job-position-wrapper {
                order: 3;
              }

              #edit-field-experience-level-wrapper {
                order: 4;
              }

              #edit-field-work-type-wrapper {
                order: 5;
              }

              #edit-date-filter {
                label {
                  display: none;
                }
              }

              .views-widget {

                label {
                  font-weight: normal;
                }
              }
            }
          }
        }

        .view-content,
        .view-empty {
          background: $white;
          border: 3px solid $grey--background;
          padding: 20px;

          .views-row {

            &:not(:last-child) {
              border-bottom: 3px solid $grey--background;
              margin-bottom: 20px;
              padding-bottom: 10px;
            }

            .views-field-title,
            .views-field-node-title {

              a {
                color: $blue--darkest;
                font-size: 18px;
                font-weight: bold;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            .views-field-field-job-location,
            .views-field-node-field-job-location-locality {
              font-size: 19px;
              font-weight: bold;
              margin-bottom: 5px;
              margin-top: 5px;
            }

            .views-field-node-field-job-category-name,
            .views-field-field-job-category {
              font-size: 16px;
              font-weight: bold;

              ul {
                list-style-type: none;
                margin: 0;

                li {
                  margin: 0;
                }
              }
            }

            .views-field-created {
              font-size: 14px;
            }

            .views-field-field-pay-scale {
              font-size: 20px;
              font-weight: bold;
              padding-top: 5px;
            }
          }
        }

        #edit-job-location {
          padding-top: 2px;
        }

        .right-column {

          @media #{$xsmall-down} {
            padding-bottom: 15px;
          }

          .right-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            padding: 10px 20px;

            @media #{$xsmall-down} {
              display: none;
            }
          }
        }

        .pager {

          a, span {
            padding-top: 2px;
          }
        }
      }
    }
  }
}

.job-post-block {
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 10px;

  h4 {
    margin: 0;
  }
}
