/**
 * @file
 * Jobs Search
 *
 * Located on the pages: jobs search
 */

.jobs-listing {
  background: $grey--lightest;
  &:not(.page-jobs) {
    .jobs-wrapper-content {
      padding: 3px;
      background: $white;
    }
  }
  .jobs-wrapper {
    padding-top: 60px;
    padding-bottom: 30px;

    .ajax-progress-throbber {
      display: none;
    }
    .pane-content {
      padding: 3px;
      background: $white;
    }

    .columns-wrapper {
      background: $white;
      border: 3px solid $grey--background;
      display: flex;
      padding: 20px;

      @media #{$xsmall-down} {
        padding: 0;
      }

      @media #{$xsmall-down} {
        flex-direction: column;
      }


      .left-column {
        border: 0;
        box-shadow: none;

        .column-title {
          background: $white;
          border: 0;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 5px;
          padding: 10px 10px 13px 27px;

          @media #{$xsmall-down} {
            padding: 10px 10px 13px 20px;

            &:hover {
              cursor: pointer;
            }

            &::after {
              content: "+";
              display: inline-block;
              font-size: 18px;
              padding-left: 10px;
            }

            &.opened {

              &::after {
                content: "-";
              }
            }
          }


          @media #{$xsmall-down} {
            padding-bottom: 10px;
          }
        }

        .block__title {
          display: inline-block;
          font-weight: bold;
          max-width: 100%;
          margin-bottom: 5px;
        }

        ul {
          list-style-type: none;
          margin: 0;

          li {
            margin: 0;

            .form-type-checkbox {
              margin: 0;
            }
          }
        }

        select {
          border-radius: 0;
          padding: 3px 12px;
        }

        @media #{$xsmall-down} {
          margin-bottom: 0;
        }

        .region-sidebar-left {
          background: $white;
          border: 3px solid $grey--background;
          display: flex;
          flex-direction: column;
          font-size: 18px;
          line-height: 20px;
          padding: 16px 24px 24px 24px;

          @media #{$xsmall-down} {
            display: none;
            margin-bottom: 20px;
            padding: 12px 20px 20px 20px;
          }

          @media #{$small-up} {
            display: flex !important;
          }

          .block--filter-by-location {

            label {
              font-size: 16px;
              font-weight: 100;
            }
          }

          .views-exposed-widgets {
            border: none;
            margin: 0;
          }

          .block__content {

            #edit-search-wrapper {
              padding: 0;
              width: 100%;
            }

            .notification-link {
              margin-bottom: 10px;
              width: 100%;
            }

            .subscribe-feed {
              width: 100%;
            }

            #edit-date-filter {
              label {
                display: none;
              }
            }

            .views-widget {

              label {
                font-weight: normal;
              }
            }

          }
        }
      }

      .right-column {

        @media #{$xsmall-down} {
          padding: 0 12px 12px 12px;
        }

        .view-content,
        .view-empty {
          background: $white;
          border: 3px solid $grey--background;
          padding: 20px;

          .views-row {

            &:not(:last-child) {
              border-bottom: 3px solid $grey--background;
              margin-bottom: 20px;
              padding-bottom: 10px;
            }

            .views-field-title,
            .views-field-node-title {

              a {
                color: $blue--darkest;
                font-size: 18px;
                font-weight: bold;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            .views-field-field-job-location,
            .views-field-node-field-job-location-locality {
              font-size: 19px;
              font-weight: bold;
              margin-bottom: 5px;
              margin-top: 5px;
            }

            .views-field-created {
              font-size: 14px;
            }

            .views-field-node-field-job-category-name {
              font-size: 16px;
              font-weight: bold;
            }

            .views-field-field-pay-scale {
              font-size: 20px;
              font-weight: bold;
              padding-top: 5px;
            }
          }
        }

        .right-title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 5px;
          padding: 10px 20px;

          @media #{$xsmall-down} {
            display: none;
          }
        }

        .pager {

          a, span {
            padding-top: 2px;
          }
        }

      }
    }
  }
}
