/**
 * @file
 * Main menu styles for mobile view
 *
 * Located on the pages: All page
 */

.hamburger {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: auto;
  padding: 5px;
  background: transparent;
  border: 0;
  color: $white;
  font-size: 30px;
  line-height: 1;
  transition: all .3s;
  outline: 0;
  &:hover {
    color: $blue;
  }
}

.not-front {
  .hamburger {
    color: $grey;
    &:hover {
      color: $blue;
    }
  }
}

.mobileMenuHolder {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  cursor: pointer;
}

.mobileMenu {
  position: fixed;
  right: -($mobileMenuWidth--mobile);
  top: 0;
  width: $mobileMenuWidth--mobile;
  background: $grey--lightest;
  height: 100%;
  border-left: 1px solid $grey--light;
  transition: right .5s;
  @media #{$xsmall-up} {
    right: -($mobileMenuWidth--tablet);
    width: $mobileMenuWidth--tablet;
  }
  &-inner {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    .fa-times {
      color: $grey--darkest;
    }
  }
  &-close {
    position: absolute;
    top: 15px;
    right: 10px;
    height: auto;
    width: auto;
    border: 0;
    padding: 5px;
    line-height: 1;
    background: transparent;
    outline: 0;
  }
  &-point {
    border-bottom: 1px solid $grey--light;
    padding: 10px 20px;
    &--top {
      padding-right: 45px;
    }
    &--menu {
      border-bottom: 0;
      padding: 0;
      div > ul.menu > li {
        border-bottom: 1px solid $grey--light;
        > a,
        > span {
          position: relative;
          display: block;
          font-size: 16px;
          line-height: 1;
          padding: 20px;
          font-family: $fontFamily-bold;
          color: $grey--darkest;
          cursor: pointer;
          &:hover {
            color: $grey;
          }
        }
      }
      .siteMenu-second {
        > ul {
          display: none;
          margin-left: 0 !important;
          > li {
            border-top: 1px solid $grey--light;
            background: $grey--most;
            > a,
            > span {
              position: relative;
              display: block;
              font-size: 16px;
              line-height: 1;
              padding: 20px 25px;
              font-family: $fontFamily-bold;
              color: $grey--darkest;
              cursor: pointer;
              &:hover {
                color: $grey;
              }
            }
          }
        }
      }

      .first {
        margin-top: 55px;
        border-top: 1px solid $grey--light;
      }

      .siteMenu-third {
        > ul {
          display: none;
          margin-left: 0 !important;
          > li {
            border-top: 1px solid $grey--light;
            background: $grey--mid;
            > a,
            > span {
              position: relative;
              display: block;
              font-size: 16px;
              line-height: 1;
              padding: 20px 30px;
              font-family: $fontFamily-bold;
              color: $grey--darkest;
              cursor: pointer;
              &:hover {
                color: $black;
                background: transparent;
              }
            }
          }
        }
      }

      .caret {
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        border: 0;
        border-right: 1px solid $grey;
        border-bottom: 1px solid $grey;
        transform: rotate(45deg);
        transition: all .3s;
      }
      .is-open > span {
        .caret {
          transform: rotate(-135deg);
          margin-top: -2px;
        }
      }
    }
    &--link {
      a {
        display: block;
        height: auto;
        padding: 10px 0;
        background: transparent;
        border: 0;
        font-family: $fontFamily-bold;
        font-size: 16px;
        line-height: 1;
        color: $grey--darkest;
        text-align: left;
        &:hover,
        &:focus {
          color: $grey;
          background: transparent;
        }
        @media #{$small-down} {
          color: $grey--darkest !important;
          font-size: 16px !important;
          transition: none;

          &:active {
            box-shadow: none;
          }

          &:hover {
            color: $grey !important;
          }
        }
      }
    }
  }
  &-search {
    padding: 20px;
  }
}

.is-openMenu {
  .mobileMenu {
    right: 0;
  }
  .scrollHeader {
    right: $mobileMenuWidth--mobile;
    @media #{$xsmall-up} {
      right: $mobileMenuWidth--tablet;
    }
  }
}

.block-system-user-menu-instance {
  @media #{$large-down} {
    display: none;
  }
}
