//Styles for Pro and Enterprise Services Pages

.img-wrapper {
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    padding: 20px;

    @media #{$medium-up} {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.pro-block-1 {
  height: auto;
  min-height: 300px;
  padding-top: 45px;
  text-align: center;
  width: auto;

  .bene-wrapper {
    height: auto;
    margin: 15px;
    max-width: 100%;
    padding: 30px;

    @media #{$medium-up} {
      min-height: 300px;
    }

    &:hover {
      border-bottom: 4px solid $blue--dark;
    }
  }

  span {
    color: $blue--dark;
    display: inline-block;
    font-size: 60px;
    height: 65px;
    margin-bottom: 15px;
    width: 65px;
  }
}

.pro-block-2 {
  display: block;
  height: auto;
  min-height: 575px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;

  @media #{$medium-up} {
    padding-left: 0px;
    padding-right: 0px;
  }

  h2 {
    text-align: left;
  }

  .description {
    line-height: 2em;
    padding-top: 7%;
  }
}

/*metrics bar*/

.metric-bar-wrapper {
  background-color: $grey--darkest;
  height: auto;
  margin-top: 34px;
  min-height: 100px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.metric-bar {
  text-align: center;

  h3 {
    color: $blue;
    font-family: $fontFamily-bold--second;
  }

  p {
    color: $white;
    font-family: $fontFamily-bold;
    text-transform: uppercase;
  }
}

/*find pros bar*/

.find-pros-wrapper {
  background: url("/sites/default/files/drupalcon_bg.jpg") no-repeat;
  background-size: cover;
  height: auto;
  min-height: 250px;

  h2.pane-title {
    margin-bottom: 0px;
    padding-top: 35px;
  }
}

.find-pros-bar {
  .white-box {
    background-color: $white;
    display: block;
    height: auto;
    margin-bottom: 15%;
    margin-top: 15%;
    min-height: 200px;
    padding: 30px;
    text-align: center;

    p {
      margin-bottom: 24px;
    }
  }

  h2 {
    font-family: $fontFamily-bold;
    font-size: 18px;
    text-transform: uppercase;
  }
}

/*code sprint bar*/

.code-sprint-wrapper {
  background-color: #5d5d5d;
  height: auto;
  min-height: 250px;

  @media #{$medium-up} {
    background: #5d5d5d url("/assets/img/code-sprint.png") no-repeat bottom right;
    background-size: contain;
  }
}

.code-sprint-block {
  display: block;
  height: auto;
  min-height: 300px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;

  @media #{$medium-up} {
    padding-left: 0px;
    padding-right: 0px;
  }

  h2 {
    color: $white;
    text-align: left;
  }

  .description {
    background-color: #5d5d5d;
    color: $white;
    line-height: 2em;
    opacity: 0.8;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  a {
    color: $blue--light;
  }

  a:hover {
    color: $white;
    text-decoration: underline;
  }
}

.map-bar-wrapper {
  background-color: $grey--darkest;
  height: auto;
  min-height: 398px;
}

.map-bar {
  h2 {
    color: $grey--lightest;
    font-family: $fontFamily-thin;
    font-size: 2.6em;
    font-weight: 100;
    letter-spacing: .025em;
    line-height: 1.2;
    padding-top: 12%;
    padding-left: 12%;
    text-align: left;
  }
}

.enterprise-block {
  display: block;
  height: auto;
  min-height: 575px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;

  @media #{$medium-up} {
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;

    .description {
      padding-top: 5%;
    }
  }

  h2 {
    text-align: left;
  }

  .description {
    font-size: 1.8rem;
    line-height: 2em;

    p {
      margin-bottom: 2.5rem;
    }
  }
}
