/**
 * @file
 * Taxonomy hero banner
 *
 * Located on the pages: contractors/*
 */

.taxonomyHeroBanner {
  padding: 40px 0;
  text-align: center;
  @media #{$medium-up} {
    padding: 100px 0 80px;
  }
  .field-name-field-contractor-title {
    @extend h1;
  }
  .field-name-field-hero-subtitle {
    font-family: $fontFamily-thin;
    font-size: 20px;
    margin-bottom: 15px;
    @media #{$medium-up} {
      margin-bottom: 60px;
      font-size: 30px;
    }
  }
  .field-name-field-hero-cta {
    a {
      @extend .btn, .btn--blue;
    }
  }
}