<!-- FOOTER -->
<footer id="footer-links" class="fixed-bottom">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="col-md-4 text-right order-md-last">
				<a href="mailto:services@drupalcontractors.com" class="semibold big">service@drupalcontractors.com</a>
			</div>
			<div class="col-md-8">
				<ul class="list-inline pt-1">
					<li class="list-inline-item"><a href="/legal/" class="animsition-link">Privacy policy</a></li>
					<li class="list-inline-item">&copy; {{ site.time | date: '%Y' }} Drupal Contractors Inc.</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Cursor -->
<div class="cursor"></div>

<!-- JavaScript -->
<script src="/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/js/vendor/animsition.min.js"></script>
<script src="/js/vendor/jquery.fullpage.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/owl.carousel.min.js"></script>
<script src="/js/vendor/autosize.min.js"></script>
<script src="/js/rotaterator.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/vendor/ie10-viewport-bug-workaround.js"></script><!-- IE10 viewport hack for Windows 8 -->