<div id="skip-link">
  <a href="#main" class="element-invisible element-focusable">Skip to main content</a>
</div>
<header id="header" class="siteHeader" role="header">
  <div class="container">
    <div class="siteHeader-body">
      <div class="siteHeader-body-left">
        <div class="region region-navigation-left">
          <div class="block block-drupalcontractors-logos logo logo--light block--">
            <div class="block__content">
              <a href="/" title="Drupal Contractors">
                <img typeof="foaf:Image" src="/assets/img/dcont-logo-v1-horiz-white.png" alt="Drupal Contractors" title="Drupal Contractors" />
              </a>
            </div>
          </div>
          <div class="block block-drupalcontractors-logos logo logo--dark block--">
            <div class="block__content">
              <a href="/" title="Drupal Contractors">
                <img typeof="foaf:Image" src="/assets/img/dcont-logo-v1-horiz-blk.png" alt="Drupal Contractors" title="Drupal Contractors" />
              </a>
            </div>
          </div>
          <div class="block block-custom-search-blocks block--none">
            <div class="block__content">
              <div class="left-arrow">
                <div class="button">
                  <span class="fa fa-search"></span>
                </div>
                <div class="options">
                  <span class="find_job">Jobs</span>
                  <span class="find_contractor active">Contractors</span>
                </div>
              </div>
              <form class="search-form" role="form" action="/" method="post" id="custom-search-blocks-form-1"
                accept-charset="UTF-8">
                <div>
                  <div class="form-item form-type-textfield form-item-custom-search-blocks-form-1 form-group">
                    <label class="element-invisible" for="edit-custom-search-blocks-form-1--2">Find Jobs or Contractors
                    </label>
                    <input title="Enter the terms you wish to search for."
                      class="custom-search-box form-control form-text" placeholder="Find Contractors and Agencies"
                      type="text" id="edit-custom-search-blocks-form-1--2" name="custom_search_blocks_form_1" value=""
                      size="15" maxlength="128" />
                  </div>
                  <input type="hidden" name="delta" value="1" />
                  <input type="hidden" name="form_build_id" value="form-q-vRdTgmF5Ab1dlLIunIxCpn2vrdgQKtYbNZ4Y_IEHQ" />
                  <input type="hidden" name="form_id" value="custom_search_blocks_form_1" />
                  <div class="form-item form-type-select form-item-custom-search-paths form-group">
                    <label class="element-invisible" for="edit-custom-search-paths">Customize your search </label>
                    <select class="form-control form-select" id="edit-custom-search-paths" name="custom_search_paths">
                      <option value="search/contractors?search=[key]" selected="selected">Contractor
                      </option>
                      <option value="search/jobs?search=[key]">Jobs</option>
                    </select>
                  </div>
                  <div class="form-actions form-wrapper" id="edit-actions"><input style="display:none;" type="submit"
                      id="edit-submit" name="op" value="" class="form-submit btn btn-default btn-primary" /></div>
                </div>
              </form>
            </div>
          </div>
          <div class="block block-system siteMenu block-menu block--none">
            <div class="block__content">
              <ul class="menu nav">
                <li class="first expanded siteMenu-second js-firstLvl menu-link-browse"><span class="nolink">Browse<span
                      class="caret"></span></span>
                  <ul class="menu nav">
                    <li class="first expanded siteMenu-third js-secondLvl menu-link-browse-contractors"><span
                        class="nolink">Browse Contractors<span class="caret"></span></span>
                      <ul class="menu nav">
                        {% for title in site.data.config.titles %}
                        <li class="leaf">
                          <a href="/contractors/{{ title.key }}" title="{{ site.data.config.valueMap[title.key] }}">{{ site.data.config.valueMap[title.key] }}</a>
                        </li>
                        {% endfor %}
                        <li class="last leaf menu-link-see-all"><a href="/contractors/">See All</a></li>
                      </ul>
                    </li>
                    <li class="collapsed siteMenu-third js-secondLvl menu-link-browse-jobs"><a href="/jobs">Browse
                        Jobs</a></li>
                    <li class="last expanded siteMenu-third js-secondLvl menu-link-trending-skills"><span
                        class="nolink">Trending Skills<span class="caret"></span></span>
                      <ul class="menu nav">
                        {% for skill in site.data.config.skills %}
                        <li class="leaf">
                          <a href="/skills/{{ skill.key }}" title="{{ site.data.config.valueMap[skill.key] }}">{{ site.data.config.valueMap[skill.key] }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="last leaf active menu-link-how-it-works"><a href="/#mini-panel-how_it_works"
                    class="active">How it works</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="siteHeader-body-right">
        <div class="region region-navigation-right">
          <div class="block block-block siteHeader-body-right-link siteHeader-body-right-link--account block--">
            <div class="block__content">
              <div class="sign_up-button"><a href="../getting-started"><span class="mbri-edit"></span> Sign Up</a></div>
            </div>
          </div>
          <div class="block block-block siteHeader-body-right-link siteHeader-body-right-link--btn block--">
            <div class="block__content">
              <div><a class="btn btn--blue" href="/contractors/register">Become a Contractor</a></div>
            </div>
          </div>
        </div>
        <button class="hamburger js-hamburger"><i class="fa fa-bars" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</header>
<header id="header" class="scrollHeader js-header" role="scroll-header">
  <div class="container">
    <div class="scrollHeader-body">
      <div class="region region-navigation-scroll">
        <div class="block block-multiblock scrollHeader-body-logo block-drupalcontractors-logos block-drupalcontractors-logos-drupalcontractors-logos-svg-2-instance block--">
          <div class="block__content">
            <a href="/" title="Drupal Contractors"><img typeof="foaf:Image"
                src="/assets/img/dcont-logo-v1-horiz-blk.png"
                alt="Drupal Contractors" title="Drupal Contractors" /></a>
          </div>
        </div>
        <div class="block block-block scrollHeader-body-btn block--">
          <div class="block__content">
            <div><a class="btn btn--blue" href="getting-started">Get Started</a></div>
          </div>
        </div>
        <div class="block block-multiblock siteMenu block-system block-system-user-menu-instance block--">
          <div class="block__content"></div>
        </div>
      </div>
      <button class="hamburger js-hamburger"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
  </div>
</header>
<div class="mobileMenuHolder js-mobileMenuHolder"></div>
<div class="mobileMenu js-mobileMenu">
  <div class="mobileMenu-inner">
    <button class="mobileMenu-close js-closeMobileMenu"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="region region-navigation-mobile">
      <div class="block block-multiblock mobileMenu-point mobileMenu-point--menu block-system block-system-main-menu-instance block--none">
        <div class="block__content">
          <ul class="menu nav">
            <li class="first expanded siteMenu-second js-firstLvl menu-link-browse"><span class="nolink">Browse<span class="caret"></span></span>
              <ul class="menu nav">
                <li class="first expanded siteMenu-third js-secondLvl menu-link-browse-contractors"><span
                    class="nolink">Browse Contractors<span class="caret"></span></span>
                  <ul class="menu nav">
                    {% for title in site.data.config.titles %}
                    <li class="leaf">
                      <a href="/contractors/{{ title.key }}" title="{{ site.data.config.valueMap[title.key] }}">{{ site.data.config.valueMap[title.key] }}</a>
                    </li>
                    {% endfor %}
                    <li class="last leaf menu-link-see-all"><a href="/contractors/">See All</a></li>
                  </ul>
                </li>
                <li class="collapsed siteMenu-third js-secondLvl menu-link-browse-jobs"><a href="/jobs">Browse Jobs</a>
                </li>
                <li class="last expanded siteMenu-third js-secondLvl menu-link-trending-skills"><span
                    class="nolink">Trending Skills<span class="caret"></span></span>
                  <ul class="menu nav">
                    {% for skill in site.data.config.skills %}
                    <li class="leaf">
                      <a href="/skills/{{ skill.key }}" title="{{ site.data.config.valueMap[skill.key] }}">{{ site.data.config.valueMap[skill.key] }}</a>
                    </li>
                    {% endfor %}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="last leaf active menu-link-how-it-works"><a href="/#mini-panel-how_it_works" class="active">How it works</a></li>
          </ul>
        </div>
      </div>
      <div class="block block-multiblock mobileMenu-point mobileMenu-point--link block-block block-block-3-instance block--">
        <div class="block__content">
          <div><a class="btn btn--blue" href="/contractors/register">Become a Contractor</a></div>
        </div>
      </div>
      <div class="block__content">
        <div class="sign_up-button"><a href="../getting-started"><span class="mbri-edit"></span> Sign Up</a></div>
      </div>
      </div>
      <div class="block block-multiblock mobileMenu-search block-search block-search-form-instance block--">
        <div class="block__content">
          <form class="search-form" role="form" action="/" method="post" id="search-block-form" accept-charset="UTF-8">
            <div>
              <div class="container-inline form-inline">
                <h2 class="element-invisible">Search form</h2>
                <div class="form-item form-type-textfield form-item-search-block-form form-group">
                  <label class="element-invisible" for="edit-search-block-form--2">Search this site </label>
                  <input title="Enter the terms you wish to search for."
                    class="custom-search-box form-control form-text" placeholder="" type="text"
                    id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" />
                </div>
                <div class="element-invisible form-actions form-wrapper" id="edit-actions--2"><input type="submit"
                    id="edit-submit--2" name="op" value="Search" class="form-submit btn btn-default btn-primary" />
                </div><input type="hidden" name="form_build_id"
                  value="form-rPJgjaHCLJ4tgMReTCP1DN-04S8Yy00aXiJEZgC3X18" />
                <input type="hidden" name="form_id" value="search_block_form" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
