<div class="block block-panels-mini block--">
  <div class="block__content">
    <div class="panel-display panel-1col clearfix" id="mini-panel-how_it_works">
      <div class="panel-panel panel-col">
        <div>
          <div
            class="panel-pane pane-fieldable-panels-pane pane-vuuid-69c1f5be-a50e-4210-bb77-41c6cfa2b45f pane-bundle-how-it-works">
            <div class="pane-content">
              <div class="fieldable-panels-pane">
                <div
                  class="paragraphs-items paragraphs-items-field-item paragraphs-items-field-item-full paragraphs-items-full container">
                  <div class="field field-name-field-item field-type-paragraphs field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">
                        <div
                          class="entity entity-paragraphs-item paragraphs-item-how-it-works-item icon-card col-md-3"
                          about="" typeof="">
                          <div class="content">
                            <div class="icon-card__icon">
                              <div
                                class="field field-name-field-item-image field-type-image field-label-hidden">
                                <div class="field-items">
                                  <div class="field-item even"><img typeof="foaf:Image" src="/assets/img/hiw-employer-post-job_1_1.png" width="100" height="84" alt="Post a Job" /></div>
                                </div>
                              </div>
                            </div>
                            <div class="icon-card__title">
                              <h4>Post a Job</h4>
                            </div>
                            <div class="icon-card__description">
                              <p>Tell us about your project. We will soon contact you with a list of
                                potential resources.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field-item odd">
                        <div class="entity entity-paragraphs-item paragraphs-item-how-it-works-item icon-card col-md-3" about="" typeof="">
                          <div class="content">
                            <div class="icon-card__icon">
                              <div class="field field-name-field-item-image field-type-image field-label-hidden">
                                <div class="field-items">
                                  <div class="field-item even"><img typeof="foaf:Image" src="/assets/img/hiw-employer-hire_0_0.png" width="150" height="98" alt="Hire the Best" /></div>
                                </div>
                              </div>
                            </div>
                            <div class="icon-card__title">
                              <h4>Hire the Best</h4>
                            </div>
                            <div class="icon-card__description">
                              <p>Select from your qualified list, and quickly meet to determine if they are a fit.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field-item even">
                        <div class="entity entity-paragraphs-item paragraphs-item-how-it-works-item icon-card col-md-3" about="" typeof="">
                          <div class="content">
                            <div class="icon-card__icon">
                              <div class="field field-name-field-item-image field-type-image field-label-hidden">
                                <div class="field-items">
                                  <div class="field-item even"><img typeof="foaf:Image" src="/assets/img/hiw-employer-work_0_0.png" width="97" height="82" alt="Work" /></div>
                                </div>
                              </div>
                            </div>
                            <div class="icon-card__title">
                              <h4>Work</h4>
                            </div>
                            <div class="icon-card__description">
                              <p>You manage your contractors work. We can recommend professional workflow&#039;s and hosting, or bring your own.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field-item odd">
                        <div class="entity entity-paragraphs-item paragraphs-item-how-it-works-item icon-card col-md-3" about="" typeof="">
                          <div class="content">
                            <div class="icon-card__icon">
                              <div class="field field-name-field-item-image field-type-image field-label-hidden">
                                <div class="field-items">
                                  <div class="field-item even"><img typeof="foaf:Image" src="/assets/img/hiw-employer-pay_0_0.png" width="84" height="82" alt="Pay" /></div>
                                </div>
                              </div>
                            </div>
                            <div class="icon-card__title">
                              <h4>Pay</h4>
                            </div>
                            <div class="icon-card__description">
                              <p>Manage all invoices and payments for one or many projects through WordPress Contractors.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="levelBox-body-button text-center">
                  <a class="btn btn--blue" href="/getting-started">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
