/* Components */
@import 'components/card';
@import 'components/tabs';
@import 'components/badge';

/* layouts */
@import 'layouts/footer';
@import 'layouts/header';
@import 'layouts/home-page';
@import 'layouts/page';
@import 'layouts/partners-page';
@import 'layouts/registration';
@import 'layouts/registration-forms';
@import 'layouts/faq';
@import 'layouts/dashboard';
@import 'layouts/newsletters';

/* modules */
@import 'modules/add-job-ct';
@import 'modules/category-list';
@import 'modules/contract';
@import 'modules/company-list';
@import 'modules/hero-banner';
@import 'modules/engage-section';
@import 'modules/levels';
@import 'modules/testimonial';
@import 'modules/top-skills';
@import 'modules/main-menu-desktop';
@import 'modules/main-menu-mobile';
@import 'modules/taxonomy-hero-banner';
@import 'modules/contractors-menu';
@import 'modules/contractors-view';
@import 'modules/contractors-all-view';
@import 'modules/contractor-box';
@import 'modules/contractor-profile';
@import 'modules/contractors-slider';
@import 'modules/browse-contractors';
@import 'modules/messages';
@import 'modules/pro-enterprise-services';
@import 'modules/blog';
@import 'modules/view-all-categories';
@import 'modules/jobs';
@import 'modules/jobs-search';
@import 'modules/job_single';
@import 'modules/contractor-notification';
@import 'modules/contractors-dashboard';
