---
# Front matter comment to ensure Jekyll properly reads file.
---

// @file
// SASS partials import
// -----------------------------------------------------------------------------

// Bootstrap global partials
// -----------------------------------------------------------------------------
@import "bootstrap-sass/assets/stylesheets/bootstrap";

@import "global";
@import "setup/setup";
@import "radix/radix";
@import "partials/partials";
@import "slick";

.quicktabs-hide {
  display: none;
}
