// Display light logo
.page-profile-company-dashboard {
  .siteHeader-body-left > .region .logo {
    &.logo--dark {
      display: none;
    }

    &.logo--light {
      display: block;
      opacity: 1;
    }
  }
}

// Make sidebar equal height with content
.page-profile-company-dashboard {
  #main .container-fluid > .row {
    display: table;

    #sidebar-left, #content {
      display: table-cell;
    }

    #before-content {
      display: table-caption;
    }

    @media #{$small-up} {
      display: block;

      #sidebar-left, #content {
        display: block;
      }

      #before-content {
        display: block;
      }
    }
  }

  .pane-suggested-contractors-for-your-jobs {
    .views-field-nothing a {
      font-family: $fontFamily-bold;
      font-size: 16px;
    }

    .view-footer a {
      display: block;
    }
  }

  .pane-employer-recent-blog-posts .views-field-title {
    font-family: $fontFamily-bold;
  }
}

.employer-dashboard {
  padding: $dash-spacing;

  .dashboard-top {
    border: $dash-panel-border;
    box-shadow: $box-shadow;
    margin-bottom: $dash-spacing;
    padding: $dash-spacing;
  }


  .employer-layouts-content {
    .panel-pane {
      border: $dash-panel-border;
      box-shadow: $box-shadow;
      margin-bottom: $dash-spacing;
      padding: $dash-spacing;

      &.pane-recent-job-posts {

        .pane-title {

          .view-title-job {
            @extend h4;
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
          }

          .view-counter-job {
            display: block;
            margin-top: 10px;

            a {
              @extend h4;
              color: $blue--darkest;
              font-family: $fontFamily-bold;
              margin-bottom: 15px;
            }
          }
        }

        .view-recent-job-posts {

          @media #{$xsmall-down} {
            max-width: calc(100vw - 170px);
          }

          .view-content {
            margin: 0 auto;
            position: relative;
            width: calc(100% - 120px);

            .slick {

              &-track {
                display: flex;
              }

              &__slide {
                align-self: center;

                .slide__content {
                  border: 3px solid $grey--lightest;
                  margin: 10px;
                  padding: 10px;

                  @media #{$xsmall-down} {
                    margin: 0;
                  }

                  .views-field-title {

                    a {
                      font-weight: bold;
                    }
                  }
                }
              }

              &-prev,
              &-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }

              &-prev {
                left: -60px;
                @extend .left-slick-arrow;
              }

              &-next {
                right: -60px;
                @extend .right-slick-arrow;
              }
            }

            .views-field-title {
              font-family: $fontFamily-bold;
              margin-bottom: 15px;
              text-align: center;

              a {
                color: $black;
                font-size: 18px;
              }
            }

            .views-label {
              font-family: $fontFamily-bold;
              border-bottom: 2px solid $grey--lightest;
            }

            .views-label,
            .field-content {
              display: block;
            }

            .field-content {
              margin-bottom: 5px;
            }

            .views-field-field-who-can-apply {
              font-weight: bold;
              margin-bottom: 10px;
              text-align: center;
            }

            .views-field-count {
              margin-top: 15px;
              text-align: center;
            }
          }
        }
      }

      .profile2-company {
        .content {
          display: flex;
          .field {
            align-self: center;
          }

          .field-name-field-company-logo {
            margin-right: 10px;
          }

          .field-name-field-employer-location {
            margin-top: 0;
            .field-items {
              border: none;
              margin-top: 0;
              .street-block {
                font-family: $fontFamily-extrabold;
                font-size: 16px;
                text-transform: uppercase;
                text-align: center;
              }
              .locality {
                color: $grey;
                font-family: $fontFamily-medium;
                font-size: 16px;
                margin-bottom: 20px;
              }
              .state,
              .postal-code {
                font-size: 16px;
              }
              .country {
                font-family: $fontFamily-bold;
              }
            }
          }
        }
      }
    }
  }

  .employer-layouts-sidebar {
    .panel-panel-inner {
      background-color: $grey--lightest;
      border: $dash-panel-border;
      padding: $dash-spacing;

      .panel-pane {
        border-bottom: $dash-panel-border;
        margin-bottom: $dash-spacing;
        padding-bottom: $dash-spacing;

        &:last-of-type {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        .pane-title {
          font-family: $fontFamily-bold;
          font-size: 20px;
          margin-top: 0;
        }
      }
    }
  }
}

#sidebar-left {
  background-color: $grey-dash;
  border-right: $dash-panel-border;
  width: $main-dash-menu-width-mobile;

  @media #{$small-up} {
    height: 100vh;
    float: left;
    width: $main-dash-menu-width;

    & + #content {
      float: left;
      width: calc(100% - #{$main-dash-menu-width});
    }
  }
}

// Menus for dashboard
.menu-name-menu-employer-dashboard-menu {
  .menu {
    .leaf {
      height: $main-dash-menu-width-mobile;
      text-align: center;
      width: $main-dash-menu-width-mobile;


      a {
        color: $grey--lightest;
        padding: 10px 0px;

        &:before {
          display: block;
          font-family: 'MobiriseIcons' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          font-size: 20px;
          text-transform: none;
          line-height: 1;
          margin-bottom: 5px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &:hover,
        &:focus {
          background-color: transparent;
          color: $blue--light;
        }
      }
    }
  }

  .menu-link-jobs a:before {
    content: "\e941";
  }

  .menu-link-reports a:before {
    content: "\e935";
  }

  .menu-link-contractors a:before {
    content: "\e98e";
  }

  .menu-link-invoices a:before {
    content: "\e911";
  }

  @media #{$small-up} {
    .menu {
      .leaf {
        height: $main-dash-menu-width;
        text-align: center;
        width: $main-dash-menu-width;

        a {
          padding: 10px 5px;

          &:before {
            font-size: 30px;
          }
        }
      }
    }
  }
}

// Sidebar blocks styling
.view-suggested-contractors-for-your-jobs.view-display-id-block {

  .views-row {
    clear: both;
    margin: $dash-spacing 0;
    min-height: 100px;
  }

  .views-field-field-profile-picture {
    @include circle(100px);
    background-color: $white;
    display: inline-block;
    float: left;
    margin-right: 20px;
    overflow: hidden;

    img {
      height: auto;
      width: auto;
    }

    @media #{$medium-up} {
      @include circle(50px);
      margin-right: 10px;
    }

    @media #{$xlarge-up} {
      @include circle(100px);
      margin-right: 20px;
    }
  }

  .views-field:not(.views-field-field-profile-picture) {
    display: inline-block;
    width: calc(100% - 120px);

    @media #{$medium-up} {
      width: calc(100% - 60px);
    }

    @media #{$xlarge-up} {
      width: calc(100% - 120px);
    }
  }
}

.view-employer-recent-blog-posts {
  .views-field-field-hero-image img {
    height: 180px;
    width: auto;
  }

  @media #{$medium-up} {
    .views-field-field-hero-image img {
      height: 100px;
    }
  }

  @media #{$xlarge-up} {
    .views-field-field-hero-image img {
      height: 180px;
    }
  }
}
.employerDashboard-jobs-submenu {
  display: none;

  .menu-name-menu-employer-dashboard-menu {
    background-color: $grey-dash;

    .menu {
      margin-left: $main-dash-menu-width-mobile;

      .leaf {
        float: left;
        height: auto;
        margin-right: 20px;
        margin-top: 0;
        width: auto;
      }
    }
  }
  @media #{$small-up} {
    .menu-name-menu-employer-dashboard-menu {
      .menu {
        margin-left: $main-dash-menu-width;
      }
    }
  }
}

.page-resource-manager-dashboard {
  .dashboard {
    margin-top: $dash-spacing;
    margin-bottom: $dash-spacing;
    .panel-pane {
      border: $dash-panel-border;
      padding: $dash-spacing;
      background-color: $white;
      border-radius: 6px;
    }
    .panel-pane:not(:first-child) {
      margin-top: $dash-spacing;
    }
  }
}
