/**
 * @file
 * FAQ accordions.
 */

.view-faq {
  padding-bottom: 30px;
  padding-top: 30px;

  @media #{$small-up} {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  @media #{$medium-up} {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .views-accordion-header.ui-accordion-header {
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;

    &:hover {
      opacity: 0.9;
    }

    a {
      font-family: "poppinsMedium",Helvetica,Arial,sans-serif;
      color: $grey--darkest;
    }
  }

  .views-field-body {
    padding: 8px 20px 0 35px;
  }

}

.views-accordion-header.ui-accordion-header {
  background: none;
  border: 0;
  font-family: $fontFamily-light;
  padding: 0;

  a {
    color: $grey--darkest;
  }

  .ui-accordion-header-icon {
    background-color: $grey--darkest;
    background-image: none;
    border-radius: 100%;
    display: inline-block;
    left: 0;
    margin: 0 5px 0 0;
    position: relative;
    text-indent: 0;
    top: 0;

    &::before {
      border: solid $white;
      border-width: 0 2px 2px 0;
      content: '';
      display: inline-block;
      left: 4px;
      padding: 3px;
      position: absolute;
      top: 2px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &.ui-state-active .ui-accordion-header-icon::before {
    top: 5px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.ui-accordion .ui-accordion-content {
  background: none;
  border: 0;
  font-family: $fontFamily-light;
  padding: 0;
}

.views-accordion-faq-page-header {
  text-align: center;
}

.views-accordion-faq-page-header:last-of-type {
  margin-top: 30px;
}
