// Component card
.c-card {
  padding: 1em;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  &.c-card--inverted-outline {
    border: 3px solid white;
    outline: 3px solid $grey--background;
    outline-offset: -6px;
  }
}

.icon-card {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;

  @media #{$medium-up} {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.icon-card__icon {
  margin-bottom: 20px;

  img {
    height: 85px;
    width: auto;
  }
}

.icon-card__title {
  font-family: $fontFamily-semibold;
  margin-bottom: 15px;
}

.icon-card__description {
  font-family: $fontFamily-medium;
}

.job-card {
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 20px;
}