ul.quicktabs-tabs {
  border-bottom: 1px solid $grey--border;
  margin: 0;
  text-align: center;

  li {
    border: 1px solid $grey--border;
    border-bottom: none;
    display: inline-block;
    margin: 0;
    margin-bottom: -1px;
    min-width: 150px;

    &.active {
      border-bottom: 1px solid $white;
    }
  }

  a {
    color: $black;
    display: block;
    font-family: $fontFamily-medium;
    padding: 15px;
  }
}
