---
layout: default
class: "page-profile-main"
---

<div class="entity entity-profile2 profile2-main clearfix" about="/u/sarah-25982" typeof="">
  <div class="content">
    <div class="group-left-side field-group-html-element col-sm-8 col-md-9">
      <section class="c-card c-card--inverted-outline group-contractor-details field-group-html-element">
        <div class="field field-name-field-profile-picture field-type-image field-label-hidden">
          <div class="field-items">
            <div class="field-item even"><img typeof="foaf:Image" src="{{ page.image }}" width="100" height="100" alt="Sarah"></div>
          </div>
        </div>
        <h1 class="group-name field-group-name field-group-html-element">
          <div class="field field-name-field-name field-type-text field-label-hidden">
            <div class="field-items">
              <div class="field-item even">{{ page._name }}</div>
            </div>
          </div>
        </h1>
        <h4 class="text-center">
          <div class="field field-name-field-address field-type-addressfield field-label-hidden">
            <div class="field-items">
              <div class="field-item even">{{ page.location }}</div>
            </div>
          </div>
        </h4>
        <div class="field field-name-field-title field-type-taxonomy-term-reference field-label-hidden">
          <div class="field-items">
            {% assign last_title = page.titles | last %}
            {% for title in page.titles %}
            <div class="field-item">{{ site.data.config.valueMap[title] }}{% if title != last_title %}, {% endif %}</div>
            {% endfor %}
          </div>
        </div>
        <div class="field field-name-field-summary field-type-text-with-summary field-label-hidden">
          <div class="field-items">
            <div class="field-item even">
              <p>{{ page.wp_bio }}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="c-card c-card--inverted-outline group-skills field-group-html-element tags--main">
        <h2><span>Skills</span></h2>
        <div class="field field-name-field-skills field-type-taxonomy-term-reference field-label-hidden">
          <div class="field-items">
            {% for skill in page.skills %}
            <div class="field-item">
              <a href="/skills/{{ skill }}" typeof="skos:Concept" property="rdfs:label skos:prefLabel">{{ site.data.config.valueMap[skill] }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
    <div class="group-right-side field-group-html-element col-sm-4 col-md-3">
      <section class="c-card c-card--inverted-outline group-availability field-group-html-element">
        <h2><span>Availability</span></h2>
        <div class="field field-name-field-availability field-type-taxonomy-term-reference field-label-hidden">
          <div class="field-items">
            <div class="field-item even">{{ site.data.config.valueMap[page.availability] }}</div>
          </div>
        </div>
      </section>
      <section class="c-card c-card--inverted-outline group-professional-information field-group-html-element">
        <div class="field field-name-field-citizenship field-type-list-float field-label-above">
          <div class="field-label">Citizenship:&nbsp;</div>
          <div class="field-items">
            <div class="field-item even">{{ site.data.config.valueMap[page.citizenship] }}</div>
          </div>
        </div>
        <div class="field field-name-field-experience-level field-type-taxonomy-term-reference field-label-above">
          <div class="field-label">Experience Level:&nbsp;</div>
          <div class="field-items">
            <div class="field-item even">{{ site.data.config.valueMap[page.wp_experience] }}</div>
          </div>
        </div>
      </section>
      <section class="c-card c-card--inverted-outline group-languages field-group-html-element">
        <h2><span>Languages</span></h2>
        <div class="field field-name-field-english-proficiency field-type-taxonomy-term-reference field-label-above">
          <div class="field-label">English Proficiency:&nbsp;</div>
          <div class="field-items">
            <div class="field-item even">{{ site.data.config.valueMap[page.english] }}</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
