<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Drupalcontractors" />
  <meta property="og:url" content="https://drupalcontractors.com/" />
  <meta property="og:title" content="Find Drupal Jobs and Resources | Drupalcontractors" />
  <meta property="og:image" content="https://www.drupalcontractors.com/img/logos/dcon_og_image.jpeg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="690" />
  <meta property="og:image:height" content="430" />
  <meta property="og:image:alt" content="Find Drupal Jobs and Resources | Drupalcontractors" />
  <meta property="og:locale" content="en_US" />
  <!-- Meta -->
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <title>{{ site.title }}</title>

  <!-- Bootstrap + Plugins -->
  <link rel="stylesheet" href="/css/animsition.min.css">
  <link rel="stylesheet" href="/css/jquery.fullpage.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style-responsive.css">
  <link rel="stylesheet" href="/css/section-colors.css">

  <!-- Fonts & Icon Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <!-- JS -->
  <script src="/js/vendor/prefixfree.min.js"></script>

  <!-- Intercom -->
  <script>
    window.intercomSettings = {
      app_id: "zrqksojs",
      custom_launcher_selector: ".btn-dc-primary"
    };
  </script>

  <script>
    (function () {
      var w = window;
      var ic = w.Intercom;
      if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', w.intercomSettings);
      } else {
        var d = document;
        var i = function () {
          i.c(arguments);
        };
        i.q = [];
        i.c = function (args) {
          i.q.push(args);
        };
        w.Intercom = i;
        var l = function () {
          var s = d.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://widget.intercom.io/widget/zrqksojs';
          var x = d.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        };
        if (w.attachEvent) {
          w.attachEvent('onload', l);
        } else {
          w.addEventListener('load', l, false);
        }
      }
    })();
  </script>
</head>

<body class="">

  <div class="animsition">

    {% include navigation.html %}

    <!-- Description -->
    <aside id="description">The best source for Drupal talent since 2011.</aside>

    <!-- Social Icons -->
    <aside id="social">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.linkedin.com/company/drupal-contractors/" title="LinkedIn"
            target="_blank"><span>IN</span><img src="/img/icons/icon-linkedin.svg" class="svg" alt="LinkedIn"></a></li>
        <li class="list-inline-item"><a href="https://twitter.com/DrupalContract" title="Twitter"
            target="_blank"><span>TW</span><img src="/img/icons/icon-twitter.svg" class="svg" alt="Twitter"></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/drupalcontractors/" title="Facebook"
            target="_blank"><span>FB</span><img src="/img/icons/icon-facebook.svg" class="svg" alt="Facebook"></i></a>
        </li>
      </ul>
    </aside>
      {{ content }}
  </div>

  {% include footer.html %}
</body>

</html>