/**
 * @file
 * Theme colours
 *
 * Colors should always only appear in this colours.scss
 */

// New wpcontractors colors
$newblue--lightest: #00b8ff;
$newblue--light: #00719c;
$newblue: #00719c;
$newblue--dark: #00415a;
$newblue--darkest: #001f2b;
// Used on buttons and homepageHero
$newblue--lightest2: #0099cc;
// Used on homepageHero background
$newblue2: #006699;


// Original theme colors
$black: #000000;
$white: #ffffff;

$blue--lightest: #e2f2fc;
$blue--light: #b6d8ef;
$blue: #89bada;
$blue--dark: #5d95ba;
$blue--darkest: #317ebc;

$grey--border: #ddd;
$grey--checkbox: #d3d3d3;
$grey--lightest: #efefef;
$grey--light: #a6a6a6;
$grey-darker: #ccc;
$grey--background: #EDEDED;
$grey: #999999;
$grey-dash: #666666;
$grey--most: #e1e1e1;
$grey--darkest: #333333;
$grey--shadow: #888888;
$grey--black: #262626;
$grey--mid: #bfbfbf;
$grey-2: #424242;

$green: #65c139;
