/**
 * @file
 * Content styles
 */


/* Links */
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}


/* Headlines */
h1 {
  margin: 0 0 10px;
  font-family: $fontFamily-bold--second;
  font-size: 24px;
  letter-spacing: .025em;
  text-align: center;
  @media #{$medium-up} {
    margin: 0 0 30px;
    font-size: 42px;
  }
}

h2 {
  margin: 0 0 10px;
  font-family: $fontFamily-bold--second;
  font-size: 22px;
  letter-spacing: .025em;
  text-align: center;
  @media #{$medium-up} {
    margin: 0 0 30px;
    font-size: 40px;
  }
}

h3 {
  font-family: $fontFamily-bold--second;
  font-size: 18px;
  letter-spacing: .025em;
  margin: 0 0 10px;

  @media #{$medium-up} {
    font-size: 30px;
    margin: 0 0 10px;
  }
}

strong {
  font-family: $fontFamily-semibold;
}

.sm-dash {
  background-color: $white;
  display: inline-block;
  height: 2px;
  margin-left: 2px;
  margin-right: 3px;
  margin-top: -1px;
  vertical-align: middle;
  width: 18px;
}

.dash {
  background-color: $white;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 50px;
}

li.comment_forbidden.last {
  margin-bottom: 30px!important;
}

.skills-no-link {
  padding: 25px 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 -5px;
    max-height: 65px;
    overflow-y: hidden;
    li {
      list-style: none;
      margin: 0 5px 10px;
      display: block;
      padding: 4px 8px;
      font-size: 13px;
      outline: 0;
      background: $grey--lightest;
      color: $grey--darkest;
      border-radius: 4px;
      transition: all .3s;
      &:hover {
        background: $blue--darkest;
        color: $white;
      }
    }
  }
}

.left-slick-arrow,
.right-slick-arrow {
  background: $blue--darkest;
  border: 2px solid $blue--darkest;
  border-radius: 50%!important;
  display: block;
  height: 46px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 46px;
  outline: 0;

  &:hover {
    background: $white;

    &:after {
      border-left-color: $blue--darkest;
      border-bottom-color: $blue--darkest;
    }
  }

  &:after {
    border-bottom: 1px solid $white;
    border-left: 1px solid $white;
    content: "";
    height: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: all .3s;
    width: 14px;
  }
}


.left-slick-arrow {
  &:after {
    margin: -7px 0 0 -4px;
    transform: rotate(45deg);
  }
}

.right-slick-arrow {
  &:after {
    margin: -7px 0 0 -10px;
    transform: rotate(225deg);
  }
}

// Solution
.tags--main {
  .field-item {
    display: inline-block;
    margin-top: 5px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  a {
    background: $grey--lightest;
    border-radius: 4px;
    color: $grey--darkest;
    display: inline-block;
    font-size: 13px;
    outline: 0;
    padding: 4px 8px;
    transition: all .3s;
    &:hover {
      background: $blue--darkest;
      color: $white;
    }
  }
}
