/**
 * @file
 * Theme fonts settings
 */


/* FONT FAMILIES */
$fontFamily-bold: 'poppinsbold', Helvetica, Arial, sans-serif;
$fontFamily-extrabold: $fontFamily-bold;
$fontFamily-light: 'poppinslight', Helvetica, Arial, sans-serif;
$fontFamily-medium: 'poppinsmedium', Helvetica, Arial, sans-serif;
$fontFamily-regular: 'poppinsregular', Helvetica, Arial, sans-serif;
$fontFamily-semibold: 'poppinssemibold', Helvetica, Arial, sans-serif;
$fontFamily-thin: 'poppinsthin', Helvetica, Arial, sans-serif;
$fontFamily-bold--second: $fontFamily-bold;
$fontFamily-body: 'Lato', sans-serif;

$fontFamily-serif: Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Bitstream Vera Serif", "Liberation Serif", serif;

$fontFamily-ionicons: 'Ionicons';

/* FONT SIZES */
//$fontSize-base: 14px;

/* FONT WEIGHT */
//$fontWeight-normal: 500;

/* LINE HEIGHTS */
//$lineHeight-base: 1.6;

h6.pane-title {
  font-family: $fontFamily-extrabold;
  font-size: 15px!important;
}
