/**
 * @file
 * Custom variables
 */

$mobileMenuWidth--tablet: 300px;
$mobileMenuWidth--mobile: 260px;

$box-shadow: 3px 4px 10px -3px $grey--shadow;
$dash-spacing: 20px;
$dash-panel-border: 1px solid $grey--border;
$main-dash-menu-width: 100px;
$main-dash-menu-width-mobile: 70px;